/*!
Custom Aera styles compiled from SCSS
*/

// @use 'config';
@use 'fonts';

/* LAYOUT */
@use 'base';
@use 'layout/layout';
@use 'layout/column-content';

/* PAGES */

/* COMPONENTS */
@use 'components/background';
@use 'components/loading';

@use 'components/header';
@use 'components/navigation';
// @use 'components/footer';

// @use 'components/buttons';

// @use 'components/intro-home';
// @use 'components/blog';
// @use 'components/blog-author';
// @use 'components/blog-share';
// @use 'components/blog-related';
// @use 'components/technology';
// @use 'components/resource-card';
// @use 'components/template-page';

/* Pages */
// @use 'pages/layout';
@use 'pages/home';
// @use 'pages/resources';
// @use 'pages/webinars';
