/*!
Custom Aera styles compiled from SCSS
*/

// @use 'config';
@use 'fonts';
@use 'base';

/* LAYOUT */
@use 'layout/layout';
@use 'layout/column-content';

/* PAGES */

/* COMPONENTS */
@use 'components/buttons';
@use 'components/background';
@use 'components/loading';

@use 'components/header';
@use 'components/navigation';
@use 'components/footer';

@use 'components/resource-card';

// @use 'components/blog';
// @use 'components/blog-author';
// @use 'components/blog-share';
// @use 'components/blog-related';
@use 'components/technology';
// @use 'components/template-page';

/* Pages */
// @use 'pages/layout';
@use 'pages/home';
@use 'pages/decision-cloud';
@use 'pages/resources';
@use 'pages/about';
// @use 'pages/webinars';
