/*!
Custom Aera website styles compiled from SCSS
*/

// @use 'config';
@use 'fonts';
@use 'base';

/* LAYOUT */
@use 'layout/layout';
@use 'layout/column-content';

/* COMPONENTS */
@use 'components/buttons';
@use 'components/background';
@use 'components/loading';
@use 'components/social';

/* FORMS */
@use 'components/forms';
@use 'components/hubspot-form-base';
@use 'components/contact-form';
@use 'components/demo-form';
@use 'components/hubspot-forms';

/* LAYOUT */
@use 'components/header';
@use 'components/navigation';
@use 'components/hero';
@use 'components/footer';

/* Resources */
@use 'components/resource-card';
@use 'components/feature-card';

/* Blog Components */
@use 'components/blog';
@use 'components/blog-author';
@use 'components/blog-share';
@use 'components/blog-related';
@use 'components/blog-archive';
@use 'components/blog-not-found';
@use 'components/blog-article';

@use 'components/technology';
@use 'components/skills';

/* Pages */
// @use 'components/template-page';
@use 'pages/home';
@use 'pages/decision-cloud';
@use 'pages/resources';
@use 'pages/customers';
@use 'pages/about';
@use 'pages/careers';
@use 'pages/partners';
@use 'pages/test-drive';
@use 'pages/contact';
@use 'pages/demo';
@use 'pages/webinars';
@use 'pages/events';
@use 'pages/decision-intelligence';
