/*!
Custom Aera styles compiled from SCSS
*/

@use 'variables';
@use 'base/fonts';
@use 'base/typography';
@use 'components/buttons';
@use 'components/header';
@use 'components/intro-home';
@use 'components/technology';
@use 'components/resource-card';
@use 'components/footer';
@use 'pages/home';
@use 'pages/resources';
