@import "~styles/config";

.social {
  min-width: 70px;

  &__list {
    @include reset-list;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: block;
  }

  &__link {
    @include reset-anchor;
    display: block;

    font-family: $font-family-heading;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: $font-color-dark;

    &Icon {
      display: block;
      opacity: 0.7;

      transform: scale(1.43);
      transition: opacity 0.2s ease-in-out;
    }

    &:hover &Icon {
      opacity: 1;
    }
  }
}
