@use 'sass:math';
@use './variables' as *;

@mixin make-row($direction: ltr, $align: stretch, $justify: flex-start, $grid-gutter: $gutter, $wrap: wrap) {
	display: flex;
	flex-wrap: $wrap;
	align-items: $align;
	justify-content: $justify;
	margin-left: math.div(-$grid-gutter, 2);
	margin-right: math.div(-$grid-gutter, 2);

	@if $direction == ltr {
		flex-direction: row;
	} @else {
		flex-direction: row-reverse;
	}
}

@mixin make-col($width: 100%, $align: stretch, $grid-gutter: $gutter) {
	flex: none;
	align-self: $align;
	padding-left: math.div($grid-gutter, 2);
	padding-right: math.div($grid-gutter, 2);
	width: $width;
}
