@use 'sass:math';
@use 'sass:meta';
@use './variables' as *;
@use './grid' as *;
@use './reset' as *;

@mixin fit {
	position: absolute;
	inset: 0;
}

@function strip-unit($number) {
	@if meta.type-of($number) == 'number' and not math.is-unitless($number) {
		@return math.div($number, $number * 0 + 1);
	}

	@return $number;
}

@mixin responsive-font($min-size: 23, $size: 36, $limit: 1200px) {
	$baseline: 375px;
	$font-multiplier: math.div(($size - $min-size), (strip-unit($limit) - strip-unit($baseline)));
	$font-baseline: ($min-size - $font-multiplier * strip-unit($baseline));

	font-size: #{$min-size}px;

	@media (min-width: $baseline) {
		font-size: calc(#{$font-multiplier} * #{100vw} + (#{$font-baseline}px));
	}

	@media (min-width: $limit) {
		font-size: #{$size}px;
	}
}

@mixin segment-top($padding-mobile: $segment-padding-mobile, $padding: $segment-padding) {
	padding-top: $padding-mobile;

	@media (min-width: $min-tablet) {
		padding-top: math.percentage(math.div($padding, $limit));
	}

	@media (min-width: $limit) {
		padding-top: $padding;
	}
}

@mixin segment-bottom($padding-mobile: $segment-padding-mobile, $padding: $segment-padding) {
	padding-bottom: $padding-mobile;

	@media (min-width: $min-tablet) {
		padding-bottom: math.percentage(math.div($padding, $limit));
	}

	@media (min-width: $limit) {
		padding-bottom: $padding;
	}
}

@mixin segment($padding-mobile: $segment-padding-mobile, $padding: $segment-padding) {
	padding-top: $padding-mobile;
	padding-bottom: $padding-mobile;

	@media (min-width: $min-tablet) {
		padding-top: math.percentage(math.div($padding, $limit));
		padding-bottom: math.percentage(math.div($padding, $limit));
	}

	@media (min-width: $limit) {
		padding-top: $padding;
		padding-bottom: $padding;
	}
}

@mixin container() {
	margin: 0 auto;
	padding: 0 $container-gutter-mobile;
	max-width: $page-width + $container-gutter-mobile;

	@media (min-width: 340px) {
		max-width: $page-width + $container-gutter-mobile * 2;
	}

	@media (min-width: $min-tablet) {
		padding: 0 $container-gutter-tablet;
		max-width: $page-width + $container-gutter-tablet * 2;
	}

	@media (min-width: $min-desktop) {
		padding: 0 $container-gutter-desktop;
		max-width: $page-width + $container-gutter-desktop * 2;
	}
}

@mixin heading($hasMargin: true, $min: 26, $max: 50) {
	@include responsive-font($min, $max);

	@if $hasMargin == true {
		margin-bottom: $gutter * 1.4;

		@media (min-width: $min-720) {
			margin-bottom: $gutter * 2.8;
		}
	}

	font-family: $font-family-heading;
	letter-spacing: -0.01em;
	line-height: 1.08;
	color: $font-color-dark;

	> a {
		@include reset-anchor;
		color: $font-color-dark;
	}
}

@mixin subheading() {
	@include responsive-font(17, 24);
	font-family: $font-family-heading;
	letter-spacing: -0.01em;
	line-height: 1.33;
	color: $font-color-dark;

	> a {
		@include reset-anchor;
		color: $font-color-dark;
	}
}

@mixin smallheading() {
	@include responsive-font(17, 18);
	font-family: $font-family-heading;
	letter-spacing: -0.01em;
	color: $font-color-dark;
}

@mixin link($color: $color-link) {
	@include reset-anchor;
	text-transform: uppercase;
	font-family: $font-family-heading;
	font-size: 13px;
	font-weight: 600;
	color: $color;

	&:hover {
		text-decoration: underline;
	}
}

@mixin button {
	@include reset-button;
	@include responsive-font(13, 14);
	display: inline-flex;
	justify-content: center;
	position: relative;
	padding: 0 (40 / 14) * 1em;
	height: $btn-height;
	color: $font-color-dark;
	font-family: $font-family-heading;
	font-weight: 600;
	line-height: (50 / 14);
	letter-spacing: 0.025em;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	border-radius: $btn-border-radius;
	border: 1px solid #bee9f3;
}

@mixin button-color($border-color, $background, $gradient, $color: $font-color-dark) {
	color: $color;
	border-color: $border-color;

	@include hover {
		background-color: $background;
		border-color: $background rgba(255, 255, 255, 0) $gradient;
		background-image: linear-gradient(rgba($gradient, 0) 0%, $gradient 90%);
	}
}

@mixin hover {
	@media (pointer: fine), (-moz-touch-enabled: 0) {
		&:hover {
			@content;
		}
	}
}

@mixin visually-hidden {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
