{
    "extends": [
        "plugin:@wordpress/eslint-plugin/esnext"
    ],
    "env": {
        "browser": true
    },
    "globals": {
        "gsap": "readonly",
        "$": "readonly"
    },
    "rules": {
        "wrap-iife": "off",
        "space-before-function-paren": "off",
        "space-in-parens": "off",
        "space-before-blocks": "off",
        "space-unary-ops": "off",
        "space-infix-ops": "off",
        "array-bracket-spacing": "off",
        "computed-property-spacing": "off",
        "no-console": "off"
    }
}
