@import "~styles/config";

.decisioncloud{
    width: 100%;
    &__wrapper{
        padding: 20px 70px 40px 70px;
        max-width: 1440px;
        margin: 0 auto;
        //background-color: #F7F8FA;
        h2{
            font-size: 50px;
            font-family: "Gilroy",sans-serif;
            @media (max-width: $max-960) {
                font-size: 28px;
                
            }
        }
        @media (max-width: $max-960) {
            padding: 20px 20px 40px 20px;
            
        }
    }

    &__companyType{
        padding-left: 10px;
        font-size: 22px;
    }

    &__imageRow{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        //margin-bottom: 20px;
        img{
            width: 70px;
        }
        @media (max-width: $max-1200) {
            flex-direction: column;
        }
        @media (max-width: $max-960) {
            font-size: 20px;
            flex-direction: row;
        }
    }
    &__cardwrapper{
        display: flex;
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
        flex-direction: row;
        @media (max-width: $max-1024) {
            width: 100%;
        }
        @media (max-width: $max-960) {
            flex-direction: row;
            width: 100%;

        }
        @media (max-width: $max-720) {
            flex-direction: column;
            width: 100%;

        }
    }
    &__card{
        padding: 15px;
        width: 33.3%;
        @media (max-width: $max-1024) {
            width: 50%;
        }
        @media (max-width: $max-960) {
            flex-direction: row;
            width: 50%;

        }
        @media (max-width: $max-720) {
            flex-direction: column;
            width: 100%;

        }
    }
    &__components{
        min-height: 500px;
        box-shadow: 1px 1px 10px #e5e5e5;
        border-radius: 10px;
        position: relative;
        @media (max-width: $max-1024) {
            min-height: 660px;
        }
        @media (max-width: $max-960) {
            min-height: 620px;
        }
        @media (max-width: $max-720) {
            min-height: auto;
        }
    }
    &__learnmore{
        padding: 0 20px;
        padding-bottom: 20px;
        text-align: right;
        font-family: Gilroy;
        font-weight: 600;
        position: absolute;
        bottom: 0;
        right: 0;
        color: #000;
        font-size: 12px;
        text-transform: uppercase;
        // @media (max-width: $max-1024) {
        //     position: relative;
        // }
        @media (max-width: $max-720) {
            position: relative;
        }
    }
    &__cosImage{
        border-bottom: 5px solid #003f68;
        padding: 10px 0px;
        //margin-bottom: 15px;
        // background-image: url(http://localhost:7331/client/6b413a4….png);
        min-height: 95px;
        // background-size: contain;
        // background-position: center;
        // background-repeat: no-repeat;
        img{
            width: 50px;
            margin: 0 auto;
            @media (max-width: $max-960) {
                margin: 0 auto;
            }
        }
    }
    &__companydetails{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        padding: 0 15px;
        color: #000;
    }
    &__businessproblem{
        padding: 0 15px;
        margin-top: 20px;
        font-size: 16px;
        color: #000;
    }
    &__title{
        font-family: Gilroy;
        color: #4B8BB5;
        font-size: 14px;
    }
    &__type{
        font-size: 18px;
        font-family: Gilroy;
    }
    &__details{
        font-size: 18px;
    }
    &__cosText{
        width: 100%;
        h3{
            font-size: 24px;
            font-family: "Gilroy",sans-serif;
            margin-bottom: 0px;
            @media (max-width: $max-960) {
                font-size: 20px;
            }
        }
        p{
            margin-top: 0;
        }
        @media (max-width: $max-960) {
            width: 100%;
        }
    }
}