@import '~styles/config';

.featuredCase {
  @include segment-top;

  @media (min-width: $min-720) {
    padding-left: $gutter;
    padding-right: $gutter;
  }

  &__background {
    @include segment-top;
    @include segment-bottom;

    margin: 0 auto;

    max-width: $page-width + 500px;

    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: cover;

    @media (min-width: $min-540) {
      background-position: 30% 50%;
    }

    @media (min-width: $min-1080) {
      background-position: 50% 50%;
    }

    @media (min-width: $min-720) and (max-width: $page-width + 500px) {
      margin-left: -$gutter;
      margin-right: -$gutter;
    }
  }

  &__container {
    @include container;
  }

  &__title {
    @include heading($hasMargin: false, $min: 17, $max: 60);
    margin: 0;
  }

  &__text {
    @media (min-width: $min-540) {
      width: 60%;
      max-width: 30em;
    }
  }

  &__action {
    margin-bottom: 0;
  }

  &__link {
    @include link($font-color-dark);
  }

  &__columns {
    margin-top: $gutter * 4;
  }
}
