@import "~styles/config";

.testimonial {
  padding-top: $segment-padding-mobile;

  &__container {
    @include container;

    position: relative;
  }

  &__wrapper {
    //position: relative;
    //z-index: 1;
    background: #dcdcdc;
    margin-bottom: 0px;
    padding: 0px 20px;
    @media (max-width: $max-720) {
      padding: 0 0;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: -$gutter;
      right: -$gutter;
      bottom: -20px;
      z-index: 1;

      height: 0px;
      background: $color-background-darker;
      @media (min-width: $min-720) {
        left: 0;
        right: 0;
      }
      
    }
  }

  &__row {
    @media (min-width: $min-720) {
      @include make-row;
    }
  }

  &__col {
    @media (min-width: $min-720) {
      @include make-col(percentage(6/12));
      display: flex;
      align-items: center;

      margin-left: percentage(6/12);
      order: 1;
      margin-left:40%;
    }
    @media (min-width: $min-1080) {
      width: percentage(6/12);
    }
  }

  &__image {
    margin: 0 -10%;
    width: 120%;
    max-width: none;
    @media (max-width: $max-720) {
      width: 80%;
      margin: 0 auto;
    }
    @media (min-width: $min-720) {
      position: absolute;
      bottom: 0;
      left: 0;

      margin: 0;
      width: auto;
      height: 100%;
    }

    @media (min-width: $min-1280) {
      left: 2%;
    }
  }

  &__pager{
    text-align: center;
    width: 100%;
    a{
      display: inline-block;
      padding: 5px;
      background-color: #fff;
      margin-right: 5px;
      border-radius: 50px;
      &:hover{
        background-color: #009d95;
      }
      &.active{
        background-color: #009d95;
      }
    }
  }

  &__blockquote {
    @include reset-all;
    @include responsive-font(18, 28);

    padding: $gutter 0;

    line-height: 1.3;
    @media (max-width: $max-720) {
      width: 100%;
      padding: 10px 20px 10px 15px;
    }
    @media (min-width: $min-720) {
      padding: 20% 0;
    }

    @media (min-width: $min-960) {
      @include responsive-font(18, 34);
    }
  }

  &__quote {
    display: block;
    margin-bottom: (30/34) * 1em;

    color: $color-quote;

    //quotes: "“" "”" "‘" "’";

    // &::before {
    //   content: open-quote;
    //   margin-left: -0.31em;
    // }

    // &::after {
    //   content: close-quote;
    // }
  }

  &__cite {
    @include reset-all;
    @include responsive-font(16, 18);

    display: block;

    color: $font-color-dark;
    font-family: $font-family-heading;
    font-style: normal;
    font-weight: 700;

    line-height: 1.2;
  }

  &__role {
    @include responsive-font(13, 16);

    display: block;
    margin-top: 5px;

    font-weight: 200;
    color: $color-persiangreen;

    @media (min-width: $min-1080) {
      margin-top: (10/14) * 1em;
    }
  }
}

