# Ignore everything
node_modules/*
uploads
upgrade
.idea
mu-plugins
plugins/*
themes/*
ai1wm-backups
languages
debug.log
.prettierignore

# But not these files...
!.gitignore
!themes/aera-theme
!themes/aera-child-theme
# etc...
