@import "~styles/config";
main{
  position: relative;
}
.platformnew {
  padding: 50px 0px 80px 0px;
  @media (max-width: $max-720) {
    padding: 0 0 80px 0;
  }
  &__container {
    @include container;
    @media (min-width: $min-1080) {
      max-width: 1420px;
    }
  }
  &__relative{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    transition: ease-in-out .1s;
    -webkit-transition: ease-in-out .1s;
    -moz-transition: ease-in-out .1s;
    @media (max-width: $max-960) {
      z-index: 9;
      bottom: 0px;
    }
    @media (max-width: $max-768) {
      bottom: 0px;
    }
    @media (max-width: $max-720) {
      bottom: 0px;
      
    }
    &.scroll{
      background-color: #fff;
      position: fixed;
      bottom: 0px;
      left: 0;
      //z-index: 99999;
      width: 100%;
      @media (max-width: $max-1024) {
        bottom: 0px;
      }
      @media (max-width: $max-960) {
        bottom: 0px;
      }
      @media (max-width: $max-768) {
        bottom: 0px;
      }
      @media (max-width: $max-720) {
        bottom: 0px;
      }
    }
    &.absolute{
      background-color: #fff;
      position: absolute;
      bottom: 0px;
      left: 0;
      z-index: 0;
      width: 100%;
    }
  }
  &__controls{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    @media (max-width: $max-960) {
      display: none;
    }
  }
  &__controlsLeft{
    //position: absolute;
    cursor: pointer;
    float: left;
    // left: 0px;
    // top: 20px;
    width: 70px;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 99;
    position: relative;
    img{
      margin: 17px auto;
    }
  }
  &__controlsRight{
    cursor: pointer;
    float: right;
    // position: absolute;
    // right: 0px;
    // top: 20px;
    width: 70px;
    height: 50px;
    background: rgba(255,255,255,0.8);
    z-index: 99;
    position: relative;
    img{
      margin: 17px auto;
    }
  }

  &__row {
    @include make-row;
  }
  &__wrapper {
    position: relative;
  }

  &__left {
    color: #1a1a1a;
    position: relative;
    width: 100%;
    overflow-x: auto;
   // z-index: 22;
    // &.scroll{
    //   background-color: #fff;
    //   position: fixed;
    //   bottom: 0px;
    //   left: 0;
      
    // }
    // @media (max-width: $max-960) {
    // //   transition: ease-in-out .2s;
    // // -webkit-transition: ease-in-out .2s;
    // // -moz-transition: ease-in-out .2s;
    //   // width: 100%;
    //   // padding: 0 0px;
    //   // position: relative;
    //   //top: 0px;
    //   // left: 0;
    //   //background-color: #fff;
    //   // overflow-x: scroll;
    //   // text-align: center;
    //   // border-top: 1px solid #c4c4c4;
    //   // border-bottom: 1px solid #c4c4c4;
    //  // z-index: 9;

    //   &.scroll{
    //     position: fixed;
    //     top: 0;
    //   }
    // }
    //   @media (max-width: $max-720) {
        
    //     // &.scroll{
    //     //   position: fixed;
    //     //   top: 0px;
    //     // }
    //   }

    // @media (max-width: $max-720) {
    //   // width: 100%;
    //   // padding: 0 0px;
    // }
  }

 
  &__right {
    width: 100%;
    float: right;
    position: relative;
    right: 0px;
    top: 0px;

    @media (max-width: $max-960) {
      width: 100%;
      padding: 0 0px;
      position: relative;
    }
    @media (max-width: $max-720) {
      width: 100%;
      padding: 0 0px;
      position: relative;
    }
  }
  &__clearfix {
    clear: both;
  }
 
}
