@import "~styles/config";

.glance {
    margin-bottom: $gutter * 0;

    &__container {
        //@include container;
        max-width: 1200px;
        padding:0 20px;
        margin: 0 auto;
    }

    &__content{
        padding:30px 0px;
        margin: 100px 0px 30px 0;
        border-top:1px solid #000;
    }
    &__title{
        
        font-family: Gilroy;
        margin-bottom: 50px;
        color:#000;
        font-size: 32px;
        font-weight: 700;
    }
    &__row{
        display: flex;
        padding: 0px 20px 30px 20px;
        @media (max-width: $min-720) {
           display: block;
        }
    }
    &__left{
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: #000;
        width: 40%;
        padding-right: 20px;
        @media (max-width: $min-720) {
            width: 100%;
        }
    }
    &__right{
        font-family: FreightSans Pro;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: #000;
        width: 70%;
        div{
            margin-bottom: 20px;
        }
        @media (max-width: $min-720) {
            width: 100%;
        }
    }
    &__contentwrapper{
        display: flex;

    }
    &__challenge{
        width: 50%;
        padding-right: 60px;
        h2{
            
            font-family: Gilroy;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            padding-top: 35px;
            border-top: 1px solid #000;
        }
        @media (max-width: $min-720) {
            width: 100%;
            padding-right: 0px;
        }

    }
    &__solution{
        width: 50%;
        padding-right: 60px;
        h2{
            
            padding-top: 35px;
            border-top: 1px solid #000;
            font-family: Gilroy;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
        }
        @media (max-width: $min-720) {
            width: 100%;
            padding-right: 0px;
        }
    }
}