@import '~styles/config';

.allOpenRoles {
  @include segment-bottom;

  &__container {
    @include container;
  }

  &__action {
    padding-top: $gutter * 3;
    text-align: center;

    @media (min-width: $min-720) {
      padding-top: $gutter * 4;
    }
  }
}
