@use 'sass:math';
@use '../legacy/reset' as *;
@use '../legacy/variables' as *;
@use '../legacy/grid' as *;
@use '../legacy/mixins' as *;

.article-template {
	@include segment;
	padding-bottom: 0 !important;
	width: math.percentage(math.div(12, 12));

	&__container {
		@include container;
	}

	@media (max-width: $max-960) {
		padding-top: 28%;
	}

	@media (max-width: $max-1080) {
		padding-top: 40%;
	}

	&__row {
		@media (min-width: $min-720) {
			@include make-row;
		}
	}

	&__col {
		@media (min-width: $min-720) {
			@include make-col(math.percentage(math.div(12, 12)));
			margin-left: math.percentage(math.div(0.5, 12));
		}

		@media (max-width: $max-960) {
			@include make-col(math.percentage(math.div(12, 12)));
			margin-left: 0;
			padding-left: 0;
		}

		@media (min-width: $min-1080) {
			width: math.percentage(math.div(12, 12));
		}

		&--main {
			@media (min-width: $min-1200) {
				@include make-col(math.percentage(math.div(8, 12)));
				margin-left: math.percentage(math.div(0.5, 12));
			}
		}

		&--sidebar {
			@media (min-width: $min-1200) {
				@include make-col(math.percentage(math.div(4, 12)));
				margin-left: 0;
			}

			@media (max-width: $max-1200) {
				@include make-col(math.percentage(math.div(12, 12)));
				margin-left: 0;
				margin-top: $gutter * 2;
			}
		}
	}

	img {
		width: 100%;
	}

	&__date {
		font-size: 14px;
		font-weight: 500;
		color: $font-color-dark;
	}

	&__title {
		@include heading(false, 30, 50);
		border-bottom: 1px solid #000;
		padding-bottom: 30px;
	}

	&__lead {
		@include responsive-font(14, 16);

		&:last-child {
			margin-bottom: $gutter * 2;

			@media (max-width: $min-720) {
				margin-bottom: $gutter * 1.5;
			}
		}

		&Name {
			color: #1a1a1a;
			font-weight: 500;
		}
	}

	&__image {
		margin-top: $gutter * 1;
		margin-bottom: $gutter * 1;

		@media (min-width: $min-tablet) {
			margin-left: calc(-25% - 8px);
			margin-right: calc(-25% - 8px);
		}

		@media (min-width: $min-desktop) {
			margin-left: calc(-50% - #{$gutter / 2});
			margin-right: calc(-50% - #{$gutter / 2});
		}
	}

	&__content {
		h2 + p,
		h3 + p {
			margin-top: 0;
		}

		&Image,
		&Embed {
			display: block;
			margin-top: $gutter * 1;
			margin-bottom: $gutter * 1;

			@media (min-width: $min-tablet) {
				margin-left: 0;
				margin-right: 0;
			}
		}

		&Iframe {
			position: relative;
			padding-top: 56.25%;

			iframe {
				@include fit;
				width: 100%;
				height: 100%;
			}
		}

		p > a {
			color: $color-articles;
			text-decoration: underline;

			&:hover {
				color: darken($color-articles, 10%);
			}
		}

		blockquote {
			@include reset-all;
			@include responsive-font(18, 28);

			margin-left: calc(#{math.percentage(math.div(1, 12))} + 3px);
			margin-right: calc(#{math.percentage(math.div(1, 12))} + 3px);

			@media (min-width: $min-720) {
				margin-left: calc(#{math.percentage(math.div(1, 8))} + 5px);
				margin-right: calc(#{math.percentage(math.div(-1, 8))} - 3px);
			}

			@media (min-width: $min-1080) {
				margin-left: calc(#{math.percentage(math.div(1, 6))} + 5px);
				margin-right: calc(#{math.percentage(math.div(-1, 6))} - 4px);
			}

			padding: $gutter / 2 0;
			line-height: 1.3;

			p {
				quotes: '“' '”' '‘' '’';

				&:first-child::before {
					content: open-quote;
					margin-left: -0.31em;
				}

				&:last-child::after {
					content: close-quote;
				}
			}
		}

		hr {
			margin: $gutter 0;
			height: 1px;
			border: 0;
			background: $color-border;
		}

		ul,
		ol {
			@include reset-list;
			margin: 1em 0;

			> li {
				position: relative;
				margin-bottom: $gutter / 2;
				padding-left: $gutter;

				&::before {
					content: '–';
					position: absolute;
					top: -2px;
					left: 1px;
					font-weight: 500;
					color: $color-persiangreen;
				}
			}
		}

		ol {
			counter-reset: ol-counter;

			> li {
				counter-increment: ol-counter;

				&::before {
					content: counter(ol-counter);
				}
			}
		}

		figure {
			@include reset-all;
			margin-top: $gutter * 2;
			margin-left: -$gutter;
			margin-right: -$gutter;

			figcaption {
				padding: $gutter / 2 $gutter;
				font-size: 14px;
				font-weight: 500;
				color: $font-color-dark;
			}
		}
	}

	&__pagination {
		margin-top: $gutter * 2;
		font-weight: 500;
	}

	&__action {
		margin-top: $gutter * 3;
	}
}
