@use 'sass:math';
@use '../reset' as *;
@use '../variables' as *;
@use '../grid' as *;
@use '../mixins' as *;

.article-author {
	@include segment;
	padding-bottom: 0 !important;
	width: 100%;
	text-align: center;

	@media (max-width: $max-1080) {
		padding-top: 28%;
	}

	@media (max-width: $max-960) {
		padding-top: 28%;
	}

	@media (max-width: $max-720) {
		padding-top: 10%;
	}

	&__container {
		@include container;
	}

	&__row {
		@media (min-width: $min-720) {
			@include make-row;
			justify-content: center;
		}
	}

	&__col {
		padding: 0 10px;
		margin-bottom: 20px;

		@media (max-width: $max-960) {
			margin-left: 0;
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 30px;
		}
	}

	img {
		width: 120px;
		margin: 0 auto;
		margin-bottom: 20px;
		border-radius: 70px;
	}

	p {
		margin: 0;
		color: $color-codgray;
		font-size: 14px;
	}

	&__lead {
		text-align: center;
		color: $color-codgray;
	}
}
