@use 'sass:math';
@use '../variables' as *;
@use '../mixins' as *;
@use '../grid' as *;
@use 'typography' as *;

.case-study {
	color: $font-color-dark;
	padding: 50px 0px 80px 0px;

	@media (max-width: $max-720) {
		padding: 0 0 80px 0;
	}

	&__detailWrapper {
		display: flex;

		@media (max-width: $max-720) {
			margin-top: 0px;
			padding: 0px 0;
			flex-wrap: wrap;
		}
	}

	&__clearfix {
		clear: both;
	}

	&__imagetext {
		width: 100%;
		position: relative;
		background-color: $color-aquahaze;
		padding: $gutter * 1.67 0;
	}

	&__featImage {
		position: relative;
		margin: 0px 0px 0px 0;
		@media (max-width: $max-720) {
			margin: 20px 0px 20px 0;
		}
		img {
			margin: 0 auto;
			width: 110px;
		}
	}

	&__container {
		padding: 0 $container-gutter-desktop;
		max-width: 1300px;
		margin: 0 auto;
		@media (max-width: $max-1024) {
			max-width: 100%;
			padding: 0 $container-gutter-tablet;
		}
		@media (max-width: $max-960) {
			padding: 0 $container-gutter-mobile;
		}
		@media (max-width: $max-720) {
			padding: 0 $container-gutter-mobile;
		}
	}

	&__row {
		@include make-row;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-ms-flex-align: stretch;
		align-items: flex-start;
		-ms-flex-pack: start;
		justify-content: center;
		margin-left: 0px;
		margin-right: 0px;
		-ms-flex-direction: row;
		flex-direction: row;
		@media (max-width: $max-720) {
			flex-wrap: wrap;
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	&__wrapper {
		align-items: center;
	}

	&__content {
		@include make-col;
		font-weight: 400;

		p {
			display: inline-block;
			vertical-align: top;
			margin-top: 0;
		}

		ul {
			padding-left: 20px;
		}

		li {
			margin-bottom: $gutter * 0.67;
			@include responsive-font(16, 18);
		}

		li span {
			font-weight: 600;
		}

		@media (min-width: $min-1024) {
			width: percentage(12/12);
		}

		@media (max-width: $max-720) {
			width: 100% !important;
		}
	}

	&__list {
		width: 50%;
		min-height: 230px;
		padding-right: 50px;
		margin-bottom: 40px;

		h3 {
			border-top: 1px solid $color-border;
			padding-top: $gutter * 0.67;
			margin-top: $gutter * 0.67;
		}

		ol {
			display: flex;
			flex-wrap: wrap;
			li {
				width: 33.33%;
				list-style-type: circle;
				padding-right: 20px;
				@media (max-width: $max-1024) {
					width: 50%;
				}
				@media (max-width: $max-960) {
					width: 50%;
				}
				@media (max-width: $max-720) {
					width: 100%;
					float: none;
				}
			}
		}

		img {
			height: 64px;
			margin-bottom: 15px;
		}

		span {
			font-weight: 600;
		}

		@media (max-width: $max-720) {
			width: 100%;
			min-height: auto;
			padding-right: 0px;
		}
	}

	&__noBorder {
		border-top: none !important;
		padding-bottom: 45px;
	}

	&__alignCenter {
		align-items: center;
	}

	&__topQuote {
		padding: $gutter * 1.33 0;

		.case-study__quote-text {
			@include responsive-font(20, 24);
			line-height: 1.42;
			font-family: $font-family-heading;
			font-weight: 600;
			color: $color-link;
			margin: 0 auto;
			max-width: 80%;
			text-align: center;

			p {
				margin: 0;
				color: $color-link;
				font-weight: 600;
			}

			@media (max-width: $max-720) {
				max-width: 100%;
			}
		}
	}

	&__resultsContent {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		@media (max-width: $max-720) {
			flex-direction: column;
		}
		p {
			width: 50%;
			margin-right: 35px;
			margin-bottom: 40px;
			list-style-type: none;
			position: relative;
			padding-right: 20px;
			margin-top: 0;
			@media (max-width: $max-960) {
				width: 45%;
				margin-right: 30px;
			}
			@media (max-width: $max-720) {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}

	&__results {
		border-top: 1px solid $color-border;
		padding: $gutter * 1.33 0;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: flex-start;
			@media (max-width: $max-720) {
				flex-wrap: wrap;
			}
		}
		li {
			width: 30%;
			margin-right: 35px;
			margin-bottom: 40px;
			list-style-type: none;
			position: relative;
			padding-right: 20px;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: -45px;
				background-image: url('assets/images/customers/platform-secure.png');
				background-repeat: no-repeat;
				background-size: contain;
				width: 32px;
				height: 32px;
			}
			@media (max-width: $max-960) {
				width: 45%;
				margin-right: 30px;
			}
			@media (max-width: $max-720) {
				width: 100%;
			}
		}
	}

	&__bodyCopy {
		width: 70%;
		padding-left: $gutter * 1.33;
		@include responsive-font(16, 18);
		line-height: 1.56;
		p {
			margin-top: 0;
		}
		@media (max-width: $max-720) {
			max-width: 100%;
			width: 100%;
			padding: 0 $container-gutter-mobile;
		}
	}

	&__contentWrapper {
		padding: $gutter * 1.33 0;
		@media (max-width: $max-960) {
			flex-wrap: wrap;
		}
	}

	&__contentBox {
		width: 50%;
		padding: 10px;
		padding-right: 50px;
		@media (max-width: $max-960) {
			width: 50%;
			padding: 10px;
			padding-right: 30px;
		}
		@media (max-width: $max-720) {
			width: 100%;
			padding: 15px;
		}
		ul {
			padding-left: 20px;
		}
	}
}
