@use 'sass:math';
@use '../variables' as *;
@use '../mixins' as *;
@use '../reset' as *;
@use '../grid' as *;
@use 'hubspot-form-base' as *;

// Contact Form Styles
.contact-form {
	&__contentwrapper {
		@include hubspot-form-base;
		max-width: 850px;
		margin: 0 auto;
		position: relative;

		// Contact form specific input styles - increased specificity to override .makeContact styles
		// Match specificity of .makeContact .hs-form input (0,2,1) with .contact-form__contentwrapper .hs-form input
		.hs-form input[type='text'],
		.hs-form input[type='email'],
		.hs-form input[type='tel'],
		input[type='text'],
		input[type='email'],
		input[type='tel'] {
			border-bottom: 1px solid #85daca;
			font-weight: 200;
		}

		input[type='submit'] {
			max-width: 25%;

			@media (max-width: $min-720) {
				max-width: 60%;
			}
		}

		select {
			padding-left: 2.85714em;
			padding-right: 9.77143em;
			height: 2.5em;

			&[name='department'] {
				width: 45% !important;

				@media (max-width: $min-720) {
					width: 100% !important;
				}
			}
		}

		textarea {
			height: 200px;
			border-bottom: 1px solid #85daca;
		}

		@media (max-width: $min-720) {
			padding: 0 30px;
		}
	}
}

/* Make Contact */

.makeContact {
	@include segment-bottom;
	padding-top: math.percentage(math.div(140px, $limit));

	@media (min-width: $limit) {
		padding-top: 140px;
	}

	&__container {
		@include container;
	}

	&__inner {
		margin-left: auto;
		margin-right: auto;

		max-width: 850px;

		&.isLoading {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	&__group {
		@media (min-width: $min-mobile) {
			display: flex;
			flex-wrap: wrap;
		}

		&Actions {
			padding-top: 20px;
		}
	}

	&__item {
		flex: none;
		position: relative;
		margin-bottom: $gutter;

		@media (min-width: $min-mobile) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			flex: none;

			margin-bottom: $gutter * 1.5;

			width: calc(50% - 1em);

			&:nth-child(even) {
				justify-content: flex-end;
				margin-left: auto;
			}
		}

		@media (min-width: $min-tablet) {
			width: calc(50% - #{math.div(35, 18) * 1em});
		}

		@media (min-width: $min-desktop) {
			margin-bottom: $gutter * 2;
		}

		&Right {
			align-items: flex-end;
		}

		&TabletFull {
			width: 100%;
		}
	}

	&__item:nth-child(3) &__input,
	&__item:nth-child(4) &__input {
		border-color: $color-primary;
	}

	&__item:nth-child(5) &__input,
	&__item:nth-child(6) &__input {
		border-color: $color-cornflower;
	}

	&__thanks {
		padding: $gutter 0;
		text-align: center;
	}

	&__title {
		@include reset-heading;
		margin: 0 0 math.div($gutter, 2);

		@include responsive-font(20, 24);
		font-family: $font-family-gilroy;
		font-weight: 700;
		color: $color-codgray;
	}

	&__subline {
		@include reset-all;
		@include responsive-font(16, 18);
	}
}
