@use '../variables' as *;
@use '../mixins' as *;
@use '../reset' as *;
@use '../grid' as *;
@use 'hubspot-form-base' as *;

// Demo Form Styles
.demo-form {
	width: 100%;
	padding-top: 150px;

	&__contentwrapper {
		@include hubspot-form-base;
		background-color: #ffffff;
		padding: 30px;
		position: relative;
		width: 70%;
		border-radius: 20px;
		box-shadow: 5px 5px 10px #00000059;

		@media (max-width: $min-960) {
			width: 100%;
		}

		// Demo form specific input styles
		input[type='text'],
		input[type='email'],
		input[type='tel'] {
			border-bottom: 2px solid #85daca;

			&::placeholder {
				color: #000000;
			}
		}

		fieldset {
			div {
				color: #1a1a1a;
				font-weight: 400;
				font-size: 12px;
				line-height: 20px;
			}
		}

		select {
			padding-left: 15px;
			padding-right: 5px;
			font-size: 14px;
			height: 3em;
		}

		textarea {
			height: 50px;
			color: #000000;
			border-bottom: 2px solid #85daca;

			&::placeholder {
				color: #000;
			}
		}

		@media (max-width: $min-720) {
			padding: 20px 30px;
		}
	}
	&__formSectionWrapper {
		padding: 150px 0 0px 0;
	}
	&__formSection {
		width: 100%;
		background-image: url('assets/images/background/aera-wave-bg-demo.jpg');
		background-repeat: no-repeat;
		background-position: left;
		//padding: 150px 0 50px 0;
		background-size: cover;
		color: #ffffff;
		margin-top: 30px;
		padding-bottom: 50px;
		overflow: hidden;
	}
	&__formContainer {
		max-width: 1320px;
		margin: 0 auto;
		padding: 0 20px;
		//position: relative;
	}
	&__formRow {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		h1 {
			color: #ffffff;
		}
		@media (max-width: $min-960) {
			flex-direction: column;
		}
		// p{
		//     margin: 25px 0;
		// }
		// div{
		//     width: 100%;
		// }
	}
	&__formCopy {
		width: 50%;
		position: relative;
		z-index: 1;
		@media (max-width: $min-720) {
			width: 100%;
		}
	}
	&__mTop30 {
		margin-bottom: 30px;
		font-weight: 300;
	}
	&__formDashboard {
		//width: 50%;
		position: relative;
		// position: absolute;
		// right: 0;
		// left: 0;
		// top: -120px;
		// bottom: 0;
		// background-image: url('assets/images/demoform/dashboards.png');
		// background-position: right;
		// background-repeat: no-repeat;
		// height: auto;
		// z-index: 0;
		@media (max-width: $min-960) {
			display: none;
		}
	}
	// &__dashboardImage{
	//     position: absolute;
	//     right: 0;
	//     top: -420px;
	//     background-image: url("assets/images/demoform/dashboards.png");
	//     background-position: right;
	//     background-repeat: no-repeat;
	//     z-index: 0;
	//     background-size: contain;
	//     width: 100%;
	//     height: 900px;
	// }
}
