@use 'sass:math';
@use '../mixins' as *;
@use '../grid' as *;
@use '../reset' as *;
@use '../variables' as *;

.footer {
	position: relative;
	z-index: 3;
	padding: $gutter * 2 0 $gutter;
	background: $color-background-darker;

	@media (min-width: $min-720) {
		padding: $gutter * 4 0 $gutter * 2;
	}

	&__container {
		@include container;
	}

	&__row {
		@include make-row;
		justify-content: space-between;
	}

	&__navigationCol {
		display: flex;
		text-align: center;

		@media (min-width: $min-560) {
			width: math.percentage(math.div(12, 12));
		}
		@media (max-width: $min-560) {
			flex-wrap: wrap;
		}

		ul {
			@include make-col(math.percentage(math.div(12, 12)));
			margin-top: 0px;
			padding-left: 0px;
			padding-right: 0px;
			text-align: left;

			@media (min-width: $min-tablet) {
				width: math.percentage(math.div(2.4, 12));
				text-align: left;
				padding-right: 10px;
			}

			@media (min-width: $min-560) {
				width: math.percentage(math.div(2.4, 12));
				padding-right: 10px;
			}

			@media (min-width: $min-960) {
				width: math.percentage(math.div(2.4, 12));
				text-align: left;
				padding-right: 10px;
			}
		}

		li {
			list-style-type: none;
			padding-bottom: 5px;
			@media (max-width: $max-960) {
				&__hiddenXS {
					display: none;
				}
			}
		}
	}

	&__logo {
		@include make-col(math.percentage(math.div(12, 12)));

		@media (min-width: $min-560) {
			width: math.percentage(math.div(12, 12));
		}

		@media (min-width: $min-960) {
			width: math.percentage(math.div(12, 12));
		}

		&Link {
			@include reset-anchor;
		}

		&Image {
			margin-bottom: $gutter * 2;
			margin-top: -10px;
			width: 70px;

			@media (min-width: $min-768) {
				width: 121px;
			}
		}
	}

	&__w15 {
		width: 15% !important;
		@media (max-width: $max-720) {
			width: 100% !important;
		}
	}
	&__w25 {
		width: 25% !important;
		@media (max-width: $max-720) {
			width: 100% !important;
		}
	}
	&__w30 {
		width: 30% !important;
		@media (max-width: $max-720) {
			width: 100% !important;
		}
	}

	&__navigation {
		@include make-col(math.percentage(math.div(12, 12)));

		@media (min-width: $min-560) {
			width: math.percentage(math.div(12, 12));
		}

		@media (min-width: $min-960) {
			width: math.percentage(math.div(9.5, 12));
		}

		&List {
			@include reset-list;
		}
	}

	&__social {
		@include make-col(math.percentage(math.div(12, 12)));

		@media (max-width: $min-560) {
			margin-top: 30px;
		}

		@media (min-width: $min-560) {
			width: math.percentage(math.div(12, 12));
		}

		@media (min-width: $min-960) {
			width: math.percentage(math.div(1.5, 12));
			text-align: right;
		}

		&List {
			@include reset-list;
		}
	}

	&__item {
		margin-bottom: 6px;
		text-align: right;
	}

	&__link {
		@include reset-anchor;

		font-family: $font-family-heading;
		font-size: 13px;
		font-weight: 400;
		text-transform: uppercase;
		color: $font-color-dark;

		&:hover {
			text-decoration: underline;
		}

		@media (min-width: $min-tablet) {
		}

		@media (min-width: $min-560) {
			font-size: 12px;
		}

		@media (min-width: $min-960) {
			font-size: 12px;
		}
	}
	&__parentLink {
		font-family: $font-family-heading;
		font-size: 15px;
		color: $font-color-dark;
		font-weight: 600;
		line-height: 28px;
		text-transform: uppercase;
	}

	&__parentLinkHover {
		&:hover {
			text-decoration: underline;
		}
	}

	&__copyright {
		margin-top: $gutter * 1;
		margin-bottom: $gutter * 1;

		@media (min-width: $min-720) {
			margin-top: $gutter * 3;
		}

		font-size: 13px;
	}
	&__noLinkTitle {
		font-size: 13px;
		font-family: 'Gilroy', sans-serif;
		font-weight: 400;
		color: #1a1a1a;
		padding-bottom: 0px !important;
		line-height: 30px;
	}
	&__noLink {
		font-size: 13px;
		font-family: FreightSans Pro;
		padding-bottom: 0px !important;
		padding-top: 5px;
	}
	&__bold {
		font-weight: 600;
	}
	&__linkHidden {
		visibility: hidden;
		@media (max-width: $max-960) {
			display: none;
		}
	}
	&__paddingLeft {
		padding-left: 10px;
	}
	&__skillsmenu {
		width: 16% !important;
		@media (max-width: $max-720) {
			width: 100% !important;
		}
		//margin-left: 20px;
	}
	&__aeradevelopermenu {
		width: 16% !important;
		@media (max-width: $max-720) {
			width: 100% !important;
		}
	}
}
