@use 'sass:math';
@use '../variables' as *;
@use '../mixins' as *;
@use '../reset' as *;
@use '../grid' as *;

.textInput {
	position: relative;

	width: 100%;

	&__field {
		@include reset-input;
		@include responsive-font(16, 18);

		display: block;
		width: 100%;

		line-height: math.div(50, 18);

		border-bottom: 1px solid $color-input-border;
	}

	&--multiline &__field {
		padding: 0.8em 0;
		height: 200px;

		line-height: math.div(24, 18);

		resize: none;
	}

	&__label {
		position: absolute;
		bottom: -2.2em;
		opacity: 0;
		width: 100%;
		line-height: math.div(50, 18);

		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		letter-spacing: 0;
		@include responsive-font(14, 16);

		transform: translateY(-0.8em);
		transition:
			transform 0.2s,
			opacity 0.2s;

		&.visible {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.checkboxes {
	position: relative;

	width: 100%;

	&__field {
		@include reset-input;
		@include responsive-font(16, 18);

		display: block;
		width: 100%;

		line-height: math.div(50, 18);

		border-bottom: 1px solid $color-input-border;
	}

	&--multiline &__field {
		padding: 0.8em 0;
		height: 200px;

		line-height: math.div(24, 18);

		resize: none;
	}

	&__label,
	&__inputLabel {
		@include responsive-font(16, 18);
		width: 100%;
		line-height: math.div(36, 18);

		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		letter-spacing: 0;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__input {
		margin-right: 5px;
	}
}

.select {
	@include button;
	@include button-color(#bee9f3, #e0f4ff, #e8fcf5);

	position: relative;
	padding: 0;

	max-width: 100%;
	// width: 100%;
	justify-content: left;
	@include hover {
		color: $color-deepcerulean;
	}

	@media (max-width: $max-480) {
		width: 100%;
	}

	&__label {
		@include visually-hidden;
	}

	&__el {
		@include reset-button;
		display: block;

		padding-left: math.div(40, 14) * 1em;
		padding-right: math.div(72, 14) * 1.9em;

		max-width: 100%;

		text-transform: inherit;
		color: $font-color-dark;

		@media (max-width: $max-480) {
			width: 100%;
		}
	}

	&__chevron {
		position: absolute;
		top: 0;
		bottom: 0;
		right: math.div(20, 14) * 1em;

		margin-top: auto;
		margin-bottom: auto;

		width: 12px;
		height: 7px;

		pointer-events: none;

		fill: currentColor;
	}
}
