@use 'sass:math';
@use '../variables' as *;
@use '../mixins' as *;
@use '../reset' as *;
@use '../grid' as *;
@use 'typography' as *;

// Base hero styles - default (Intro style)
.hero {
	position: relative;
	z-index: 3;
	padding: 200px 0 0;
	text-align: center;
	display: flex;
	align-items: center;

	// Mobile-first: remove top padding on smaller screens
	@media (max-width: $max-720) {
		padding: 50px 0 0;
	}

	&--full-height {
		display: flex;
		align-items: center;
		padding: 0;
		height: 500px;
		min-height: 100vh;
	}

	@media (min-width: $min-768) {
		padding: 0px 0 0;
	}

	@media (min-width: $min-1024) {
		padding: 0px 0 0;
	}

	@media (min-width: $min-768) {
		padding: 180px 0 0;
	}

	@media (min-width: $min-1024) {
		padding: 290px 0 0;
	}

	&__container {
		@include container;
	}

	&__title {
		@include responsive-font(26, 70);
		margin-bottom: 6px;
		font-family: $font-family-heading;
		font-weight: 700;
		line-height: 1.3;
		letter-spacing: -0.025em;
		color: $font-color-dark;
	}

	&__subtitle {
		@extend %subtitle-hero-base;
	}

	&__text {
		@include reset-paragraph;
		@include responsive-font(18, 26);
		margin: 0 auto 1em;
		font-weight: 400;

		@media (min-width: $min-480) {
			// max-width: math.div(840, 24) * 1em;
			max-width: (840/24) * 1em;

			width: 90%;

			.hero--full-height & {
				max-width: math.div(940, 26) * 1em;
			}
		}
	}

	&__button {
		margin: 0;
		padding: 0;
	}

	&__button-link {
		@include reset-anchor;
		@include responsive-font(13, 14);
		display: inline-flex;
		justify-content: center;
		position: relative;
		padding: 0 2.85714em;
		height: 3.57143em;
		color: $font-color-dark;
		font-family: $font-family-heading;
		font-weight: 600;
		line-height: 3.57143;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
		border-radius: 999px;
		border: 1px solid #bee9f3;
		background: rgba(255, 255, 255, 0.5);
		transition: 180ms;
		transition-property: border-color, background-color, color, opacity;

		&:hover {
			background: linear-gradient(180deg, #dff9ff 0%, #dee9fb 100%);
		}
	}
}

// TODO: Check these variations are all needed

// Home variation
// .hero--home {
// 	padding: 50px 0 0;
// 	height: auto;

// 	@media (min-width: $min-768) {
// 		padding: 50px 0 0;
// 	}

// 	@media (min-width: $min-1024) {
// 		padding: 0px 0 0;
// 	}

// 	.hero__title {
// 		@include responsive-font(28, 66);
// 		margin-bottom: 0px;
// 		line-height: 76px;

// 		@media (max-width: $min-720) {
// 			line-height: 40px;
// 		}
// 	}

// 	.hero__text {
// 		@include responsive-font(18, 26);

// 		@media (min-width: $min-480) {
// 			max-width: math.div(840, 26) * 1em;
// 			width: 100%;
// 		}
// 	}
// }

// ADC (Platform / Decision Cloud) variation
.hero--adc {
	padding: 150px 0 0 !important;
	height: 550px;

	@media (max-width: $min-720) {
		padding: 0px 0 0;
		height: auto;
		min-height: 300px;
	}

	@media (min-width: $min-768) {
		padding: 0px 0 0;
	}

	@media (min-width: $min-1024) {
		padding: 0px 0 0;
	}

	.hero__title {
		@include responsive-font(26, 70);
		margin-bottom: 20px;
		padding-top: 0px;
		margin-top: 20px;
		line-height: 1.3;
		letter-spacing: -0.025em;
	}

	.hero__text {
		@include responsive-font(18, 26);
		max-width: 100%;
		width: 100%;

		@media (min-width: $min-768) {
			max-width: 1200px;
		}
	}
}

// Team variation
.hero--team {
	padding: 290px 0 0 !important;
	height: 450px;

	@media (max-width: $min-720) {
		padding: 100px 0 0 !important;
		height: auto;
		min-height: 100vh;
	}

	@media (min-width: $min-768) {
		padding: 0px 0 0;
	}

	@media (min-width: $min-1024) {
		padding: 0px 0 0;
	}

	&--full-height {
		display: flex;
		align-items: center;
		padding: 0;
		height: 500px;
		min-height: 100vh;
	}

	.hero__title {
		@include responsive-font(26, 70);
		margin-bottom: 20px;
		margin-top: 20px;
		line-height: 1.3;
		letter-spacing: -0.025em;
	}

	.hero__text {
		@include responsive-font(18, 26);
		margin-bottom: 70px;
		font-weight: 200;

		@media (min-width: $min-480) {
			max-width: math.div(840, 20) * 1em;
			width: 100%;
		}
	}
}

// Skillset variation
.hero--skillset {
	// padding: 150px 0 0 !important;
	height: 550px;

	@media (max-width: $min-720) {
		padding: 100px 0 0;
		height: auto;
		min-height: 300px;
	}

	@media (min-width: $min-768) {
		padding: 0px 0 0;
	}

	@media (min-width: $min-1024) {
		padding: 0px 0 0;
	}

	&--full-height {
		display: flex;
		align-items: center;
		padding: 0;
		height: auto;
		min-height: 100vh;
	}

	.hero__title {
		@include responsive-font(26, 70);
		margin-bottom: 20px;
		padding-top: 0px;
		margin-top: 20px;
		line-height: 1.3;
		letter-spacing: -0.025em;
	}

	.hero__text {
		@include responsive-font(16, 24);

		@media (min-width: $min-480) {
			max-width: math.div(840, 18) * 1em;
			width: 100%;
		}
	}
}

// // Partners variation
// .hero--partners {
// 	padding: 150px 0 0 !important;
// 	height: 550px;

// 	@media (max-width: $min-720) {
// 		padding: 0px 0 0;
// 		height: auto;
// 		min-height: 300px;
// 	}

// 	@media (min-width: $min-768) {
// 		padding: 0px 0 0;
// 	}

// 	@media (min-width: $min-1024) {
// 		padding: 0px 0 0;
// 	}

// 	&--full-height {
// 		display: flex;
// 		align-items: center;
// 		padding: 0;
// 		height: auto;
// 		min-height: 100vh;
// 	}

// 	.hero__title {
// 		@include responsive-font(26, 70);
// 		margin-bottom: 20px;
// 		padding-top: 0px;
// 		margin-top: 20px;
// 		line-height: 1.3;
// 		letter-spacing: -0.025em;
// 	}

// 	.hero__text {
// 		@include responsive-font(16, 24);

// 		@media (min-width: $min-480) {
// 			max-width: math.div(840, 21) * 1em;
// 			width: 100%;
// 		}
// 	}
// }

// Case Study variation
.hero--case-study {
	padding: 150px 0 0 !important;
	height: 450px;

	@media (max-width: $min-720) {
		padding: 0px 0 0;
		height: auto;
		min-height: 300px;
	}

	@media (min-width: $min-768) {
		padding: 0px 0 0;
	}

	@media (min-width: $min-1024) {
		padding: 0px 0 0;
	}

	&--full-height {
		display: flex;
		align-items: center;
		padding: 0;
		height: auto;
		min-height: 100vh;
	}

	.hero__title {
		@include responsive-font(26, 70);
		margin-bottom: 20px;
		padding-top: 0px;
		margin-top: 20px;
		line-height: 1.3;
		letter-spacing: -0.025em;
		color: $font-color-dark;
	}

	.hero__text {
		@include reset-paragraph;
		@include responsive-font(18, 26);
		margin: 0 auto 1em;
		font-weight: 400;

		@media (min-width: $min-480) {
			max-width: math.div(840, 20) * 1em;
			width: 100%;
			margin-bottom: 0;
		}
	}
}
