@use 'sass:math';
@use '../variables' as *;
@use '../legacy/mixins' as *;
@use '../legacy/reset' as *;

.intro {
	position: relative;
	padding: 50px 0 0;
	text-align: center;

	&.fullHeight {
		display: flex;
		align-items: center;
		padding: 0;
		height: 500px;
		min-height: 100vh;
	}

	@media (min-width: $min-768) {
		padding: 50px 0 0;
	}

	@media (min-width: $min-1024) {
		padding-top: 0;
	}

	&__container {
		@include container;
	}

	&__title {
		@include responsive-font(28, 66);
		margin-bottom: 0;
		font-family: $font-family-heading;
		font-weight: 700;
		line-height: 76px;
		letter-spacing: -0.025em;
		color: $font-color-dark;

		@media (max-width: $min-720) {
			line-height: 40px;
		}
	}

	&__subtitle {
		@include responsive-font(18, 36);
		margin: 5px 0 15px;
		font-family: $font-family-heading;
		font-weight: 100;
		line-height: 46px;
		letter-spacing: -0.025em;
		color: $font-color-dark;

		@media (max-width: $min-720) {
			line-height: 18px;
		}
	}

	&__text {
		@include reset-paragraph;
		@include responsive-font(18, 26);
		margin: 0 auto 1em;
		font-weight: 400;

		@media (min-width: $min-480) {
			max-width: math.div(840, 26) * 1em;

			.fullHeight & {
				max-width: math.div(940, 26) * 1em;
			}
		}
	}

	&__scrollBtn {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -20%);

		img {
			width: 35px;
			cursor: pointer;
		}

		@media (max-width: $min-720) {
			transform: translate(-50%, -120%);
			bottom: 8%;
		}
	}
}
