// @use '../config' as *;
@use 'sass:math';
@use '../mixins' as *;
@use '../variables' as *;
@use '../grid' as *;

.loading {
	@include segment;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 9999;
	background-color: #fff;
	opacity: 1;
	transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
	visibility: visible;
	overflow-y: auto;
	padding-top: 10vh;

	&.is-hidden {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	&__container {
		@include container;
	}

	&__row {
		@media (min-width: $min-720) {
			@include make-row;
		}
	}

	&__col {
		@media (min-width: $min-720) {
			@include make-col(math.percentage(math.div(8, 12)));
			margin-left: math.percentage(math.div(2, 12));
		}

		@media (min-width: $min-1080) {
			margin-left: math.percentage(math.div(3, 12));
			width: math.percentage(math.div(6, 12));
		}
	}

	&__date {
		font-size: 14px;
		font-weight: 500;
		color: $font-color-dark;
	}

	&__title {
		@include heading(false, 30, 70);
	}

	&__lead {
		@include responsive-font(20, 24);
		margin-bottom: $gutter * 2;
	}

	&__image {
		margin-top: $gutter * 2;
		margin-bottom: $gutter * 2;

		@media (min-width: $min-tablet) {
			margin-left: calc(-25% - 8px);
			margin-right: calc(-25% - 8px);
		}

		@media (min-width: $min-desktop) {
			margin-left: calc(-50% - #{math.div($gutter, 2)});
			margin-right: calc(-50% - #{math.div($gutter, 2)});
		}
	}
}

// Loading Text

.loadingText {
	display: inline-block;
	opacity: 0.2;
	width: 10em;
	height: 1.2em;
	min-height: 1.2em;
	max-width: 100%;
	background-color: #333;
	border-radius: 2px;
	vertical-align: baseline;

	&.block {
		display: block;
		width: 100%;
		height: 25px;
		min-height: 25px;
		background-color: transparent;
		background-image: url('assets/images/loading-text.png');
		background-position: 100% 9px;
		background-repeat: no-repeat;
		background-size: auto;
		border-radius: 0;
	}

	&.lines-2 {
		height: 54px;
		min-height: 54px;
	}
	&.lines-3 {
		height: 82px;
		min-height: 82px;
	}
	&.lines-4 {
		height: 108px;
		min-height: 108px;
	}
	&.lines-5 {
		height: 134px;
		min-height: 134px;
	}
}
