@use 'sass:math';
@use '../variables' as *;
@use '../mixins' as *;
@use '../grid' as *;

/* RESOURCE CARD */
.resource-card {
	margin-top: $gutter * 1;
	width: 32.9%; // TODO: Fix dumb flexbox widths
	display: inline-flex;
	padding: 20px;

	@media (max-width: $max-720) {
		width: 85%;
		padding: 0;
		margin: 0 auto;
		display: block;
		margin-bottom: 20px;
	}

	&__wrapper {
		box-shadow: 1px 1px 10px #e5e5e5;
		border-radius: 10px;
		min-height: 450px;
		position: relative;
		width: 100%;

		@media (max-width: $max-720) {
			min-height: auto;
		}

		a[href='javascript:;'] {
			cursor: default;
		}
	}

	&__figure {
		width: 100%;
		display: block;
	}

	&__bgImage {
		width: 100%;
		display: block;
		min-height: 96px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 10px 10px 0px 0px;

		@media (max-width: $max-960) {
			min-height: 70px;
			background-size: cover;
		}

		@media (max-width: $max-720) {
			min-height: 100px;
			background-size: contain;
		}
	}

	&__logoImage {
		min-height: 100px;
		padding: 25px 0px;
		display: block;
	}

	&__imageBorder {
		border-bottom: 5px solid #003f68;
	}

	&__logo {
		margin: 0px auto;
		max-width: 150px;
		display: block;

		@media (min-width: $min-720) {
			margin: 0px auto;
		}
	}

	&__row {
		@include make-row;
		flex-wrap: inherit;
		margin-left: 0px;
		margin-right: 0px;
		padding: 15px 15px 0 15px;
		justify-content: space-between;
		align-items: center;

		@media (max-width: $max-960) {
			flex-direction: column;
			align-items: baseline;
		}
	}

	&__content {
		min-height: 350px;

		@media (max-width: $max-720) {
			min-height: auto;
		}
	}

	&__type {
		font-family: $font-family-gilroy;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		display: inline-block;
		color: $color-codgray;
		position: relative;
		white-space: nowrap;
		text-transform: uppercase;
	}

	&__title {
		@include subheading;
		font-family: $font-family-gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 27px;
		color: $color-codgray;
		margin: 15px 0px;

		@media (max-width: $max-960) {
			min-height: auto;
			margin-top: 0;
			font-size: 18px;
			line-height: 26px;
		}

		@media (max-width: $max-720) {
			min-height: auto;
			margin-top: 0;
		}
	}

	&__text {
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		min-height: 120px;
		color: $color-codgray;
	}

	&__lastRow {
		position: absolute;
		bottom: 15px;
		left: 0;
		width: 100%;

		@media (max-width: $max-720) {
			bottom: 0;
			position: relative;
			padding-bottom: 20px;
		}
	}

	&__date {
		font-size: 14px;
		font-weight: 700;
		font-family: $font-family-gilroy;
		text-align: right;
		color: $font-color-dark;
		position: relative;

		@media (max-width: $max-960) {
			//margin-bottom: 10px;
		}

		@media (min-width: $min-720) {
			white-space: nowrap;
		}

		@media (max-width: $max-720) {
			text-align: left;
		}
	}

	&__line {
		width: 100%;
		height: 1px;
		background-color: $color-codgray;
		margin: 9px 15px;

		@media (max-width: $max-960) {
			display: none;
		}

		@media (max-width: $max-720) {
			display: none;
		}
	}

	&__link {
		@include link;
		text-align: right;
		display: block;
		background-color: #003f68;
		border-radius: 50px;
		color: $color-white;
		padding: 5px 25px;
		white-space: nowrap;

		&:hover {
			text-decoration: none !important;
		}

		@media (max-width: $max-960) {
			margin-top: 10px;
		}
	}

	&__nonlink {
		@include link;
		text-align: right;
		display: block;
		color: #003f68;
		cursor: default;
		font-weight: bold;
		white-space: nowrap;

		&:hover {
			text-decoration: none !important;
		}

		@media (max-width: $max-960) {
			margin-top: 10px;
		}
	}
}
