/*-------------------------------------------------*/
/*--------------------- FOOTER --------------------*/
.aera-footer {
  position: relative;
  max-width: 100%;
  width: 100%;
  padding: 120px 0 60px;
  background: var(--c-aquahaze);
  z-index: 10;

  @include sm-size-max {
    padding: 90px 0 40px;
  }

  @include xs-size-max {
    padding: 60px 0 30px;
  }

  &__content {
    .aera-footer__logo-wrapper {
      display: flex;
      margin-bottom: 60px;

      @include sm-size-max {
        margin-bottom: 50px;
      }

      @include xs-size-max {
        margin-bottom: 30px;
      }

      .aera-footer__logo {
        display: flex;
        max-width: 150px;
      }
    }

    .aera-footer__navigation {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      @include md-size-max {
        padding: 0;
      }

      @include sm-size-max {
        flex-direction: column;
      }

      .aera-footer__menu {
        flex: 1 1 93%;

        @include md-size-max {
          flex: 1 1 90%;
        }

        @include sm-size-max {
          flex: auto;
        }

        .footer--menu {
          display: flex;
          list-style: none;

          @include sm-size-max {
            flex-wrap: wrap;
          }

          @include xs-size-max {
            flex-direction: column;
          }

          li {
            font-family: 'Gilroy', sans-serif;
            font-weight: 400;
            list-style: none;
            text-transform: uppercase;
            text-decoration: none;
            padding-bottom: 5px;

            a {
              text-decoration: none;
              font-family: inherit;
              font-size: inherit;
              color: var(--c-dark);
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }

            a[href='#'] {
              pointer-events: none;
            }
          }

          & > li {
            font-weight: 600;
            font-size: 15px;
            line-height: 28px;
            padding-right: 10px;
            width: 16%;

            @include sm-size-max {
              padding-right: 40px;
              flex: 0 1 25%;
              width: auto !important;
            }

            @include xs-size-max {
              flex: auto;
              padding-right: 0;
              width: 100%;
            }

            &.footer-bigger-column {
              width: 21%;

              @include md-size-max {
                width: 20%;
              }

              @media screen and (max-width: 820px) {
                flex: 0 1 35%;
              }
            }

            &.footer-hidden-title > a[href='#'] {
              visibility: hidden;
              pointer-events: none;
              opacity: 0;

              @include sm-size-max {
                display: none;
              }
            }

            & > a {
              display: inline-block;
              padding-bottom: 5px;
            }

            & > ul {
              & > li {
                font-size: 12px;

                &.footer-bold-title > a {
                  font-weight: 600;
                  display: inline-block;
                  padding-bottom: 5px;
                }

                a[href='#'] {
                  color: var(--c-grey);
                  font-size: 13px;
                  padding-left: 0 !important;
                }

                & > ul {
                  & > li {
                    padding-bottom: 5px;

                    & > ul {
                      & > li {
                        padding: 0 0 5px 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .aera-footer__socials {
        flex: 1 1 7%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        @include md-size-max {
          flex: 1 1 10%;
          padding-left: 10px;
        }

        @include sm-size-max {
          padding-top: 20px;
          flex: auto;
          padding-left: 0;
          align-items: flex-start;
        }

        &-item {
          position: relative;
          padding-left: 30px;
          font-family: 'Gilroy', sans-serif;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          color: inherit;
          margin-bottom: 10px;

          &:last-of-type {
            margin-bottom: 0 !important;
          }

          &:hover {
            .aera-footer__socials-item__icon {
              opacity: 1;
            }

            .aera-footer__socials-item__name {
              color: var(--c-medium);
            }
          }

          &__icon {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 15px;
            height: 15px;
            left: 0;
            object-fit: contain;
            opacity: 0.7;
            transition: opacity 0.3s ease-in-out;

            @include sm-size-max {
              opacity: 1;
            }
          }

          &__name {
            color: var(--c-dark);
            transition: color 0.3s ease-in-out;
          }
        }
      }
    }
  }

  &__copyright {
    display: flex;
    padding: 70px 0 30px 0;

    @include sm-size-max {
      padding-top: 60px;
    }

    @include xs-size-max {
      padding: 30px 0;
    }

    &-text {
      color: var(--c-grey);
      font-weight: 200;
      font-size: 13px;
    }
  }
}
