/*-------------------------------------------------*/
/*-------------------- HEADER ---------------------*/
.aera-header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 60px 0;
  z-index: 9998;
  transition-duration: 0.3s;
  transition-property: top, background-color;
  transition-timing-function: linear;

  @include sm-size-max {
    padding: 50px 0;
  }

  @include xs-size-max {
    padding: 10px 0 20px 0;
    transition-duration: 0.5s;

    &.menu-open {
      background: var(--c-aquahaze);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    position: relative;

    @include sm-size-min {
      justify-content: center;
    }

    @include sm-size-max {
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    max-width: 180px;
    margin-right: 40px;
    position: relative;
    z-index: 9998;

    @include sm-size-min {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    @include xs-size-max {
      max-width: 70px;
    }
  }

  &__menu {
    .aera-header__menu-wrapper {
      .header--menu {
        @include sm-size-min {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          list-style: none;
          max-width: 57vw;

          .dropdown-btn {
            display: none !important;
          }

          li {
            list-style: none;
            text-transform: uppercase;
            cursor: pointer;

            &.current-menu-item,
            &.current_page_item {
              & > a {
                border-color: var(--c-bemuda);
              }
            }

            a {
              text-decoration: none;
            }

            .dropdown-btn {
              display: none !important;
            }
          }

          .menu-item-has-children {
            &:hover {
              .sub-menu {
                display: block !important;
              }
            }

            &.large-submenu {
              &:hover {
                .sub-menu {
                  & > .menu-two-blocks {
                    & > .sub-menu {
                      display: flex !important;

                      & > .menu-left-block {
                        & > .sub-menu {
                          display: flex !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .sub-menu {
            display: none !important;
          }

          & > li {
            position: relative;
            padding: 10px 15px;
            font-weight: 600 !important;
            font-size: 14px !important;

            @media screen and (max-width: 1200px) {
              padding: 10px;
            }

            @media screen and (max-width: 1100px) {
              padding: 10px 8px;
            }

            &.large-submenu {
              & > ul {
                left: -75px;
                width: 800px;
                max-width: none;
              }
            }

            a {
              color: var(--c-dark);
              display: inline-block;
              position: relative;
              padding: 0;
              font-family: Gilroy, sans-serif;
              font-weight: 600;
              font-size: 14px;
              letter-spacing: 0.05em;
              border-bottom: 2px solid transparent;
              transition: border 0.5s;

              &:hover {
                border-color: var(--c-bemuda);
              }
            }

            & > ul {
              position: absolute;
              left: 0;
              top: -2px;
              margin-top: 45px;
              text-align: left;
              min-width: 150px;
              max-width: 400px;
              width: max-content;
              padding: 0;
              color: #1a1a1a;
              display: none;
              padding: 20px 25px;
              background-color: #fff;
              box-shadow: 1px 1px 6px #00000021;
              border-radius: 20px;
              z-index: 999;

              & > li {
                padding: 5px 0;
              }

              .menu-two-blocks {
                & > ul {
                  display: flex !important;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: space-between;
                }

                .menu-left-block {
                  width: 70%;

                  & > ul {
                    display: flex !important;
                    flex-wrap: wrap;
                    padding: 5px 0;

                    & > li {
                      width: 50%;
                      cursor: default;

                      & > a[href='#'] {
                        color: var(--c-grey);
                        border-bottom: none;
                        font-weight: 400;
                        margin-left: 0 !important;
                        padding: 5px 0;
                        pointer-events: none;
                      }

                      & > ul {
                        & > li {
                          padding: 5px 0;

                          & > a {
                            margin-left: 10px;
                          }
                        }
                      }
                    }
                  }
                }

                .menu-right-block {
                  width: 30%;

                  & > ul {
                    padding: 5px 0;

                    & > li {
                      cursor: default;

                      & > a[href='#'] {
                        color: var(--c-grey);
                        border-color: transparent !important;
                        font-weight: 400;
                        margin-left: 0 !important;
                        padding: 5px 0;
                        pointer-events: none;
                      }

                      & > ul {
                        & > li {
                          padding: 5px 0;

                          & > a {
                            margin-left: 10px;
                          }
                        }
                      }
                    }
                  }
                }

                & > a {
                  display: none;
                }
              }
            }
          }
        }

        @include sm-size-max {
          display: none;
        }
      }

      .aera-header__menu-btn {
        @include sm-size-min {
          display: none !important;
        }
      }
    }

    &-socials {
      @include sm-size-min {
        display: none !important;
      }

      @include sm-size-max {
        padding: 20px 20px 140px;
        opacity: 0;
        gap: 20px 40px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 90%;
        transform: translateX(200%);
        transition: transform 1s ease, opacity 0.3s ease;

        @include xs-size-max {
          padding: 20px 20px 170px;
        }

        &__item {
          display: block;
          position: relative;
          width: 25px;
          height: 25px;
          flex-shrink: 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    @include sm-size-max {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      opacity: 0;
      top: 0;
      right: 0;
      width: 100vw;
      max-width: 100vw;
      height: 100vh;
      background: var(--c-aquahaze);
      transform: translate(200%);
      transition: 0.35s linear;
      z-index: 9997;

      &::before {
        content: '';
        display: block;
        height: 150px;

        @include xs-size-max {
          height: 75px;
        }
      }

      @include xs-size-max {
        top: 70px;
      }

      .aera-header__menu-wrapper {
        padding: 100px 40px 100px;

        @include xs-size-max {
          padding: 80px 40px 50px;
        }

        .header--menu {
          display: flex;
          flex-direction: column;

          li {
            list-style: none;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            opacity: 0;
            transform: translateX(200%);
            transition: transform 0.75s ease, opacity 0.3s ease;

            &.current-menu-item,
            &.current_page_item {
              & > a {
                border-bottom: 1px solid var(--c-bemuda);
              }
            }

            a {
              display: inline-block;
              text-decoration: none;
              border-bottom: 2px solid transparent;
            }

            .dropdown-btn {
              display: block;
              position: absolute;
              width: 20px;
              height: 20px;
              right: -40px;
              top: -2px;

              @include xs-size-max {
                right: -40px;
              }

              @media screen and (max-width: 365px) {
                right: -25px;
              }

              &::after {
                content: '\002B';
                position: absolute;
                color: var(--c-dark);
                font-size: 20px;

                @include xs-size-max {
                  font-size: 18px;
                }
              }

              &.active {
                &::after {
                  content: '\2212';
                }
              }
            }

            ul {
              li {
                .dropdown-btn {
                  top: 5px;
                }
              }
            }
          }

          & > li {
            display: block;
            font-family: 'Gilroy', sans-serif;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.05em;
            position: relative;
            margin-bottom: 10px;

            & > a {
              color: var(--c-dark);
            }

            & > ul {
              display: flex;
              display: none;
              flex-direction: column;
              justify-content: space-between;
              padding: 10px 0 20px 0;
              box-shadow: 0 0 0 #00000021;

              & > li {
                position: relative;
                padding: 5px 0;

                &.menu-two-blocks {
                  padding: 0 !important;

                  & > ul {
                    display: block;
                  }

                  & > .dropdown-btn {
                    display: none !important;
                  }

                  .menu-left-block,
                  .menu-right-block {
                    & > ul {
                      display: none;

                      & > li {
                        .dropdown-btn {
                          display: none !important;
                        }
                      }
                    }
                  }

                  .menu-right-block {
                    padding: 0 !important;
                  }

                  & > a[href='#'] {
                    display: none;
                  }

                  & > ul {
                    li {
                      position: relative;
                      padding: 5px 0;

                      a {
                        color: var(--c-dark);
                        font-family: 'FreightSans Pro', sans-serif;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: 0.05em;
                        padding-top: 5px;
                      }

                      & > ul {
                        & > li {
                          & > a[href='#'] {
                            font-family: 'Gilroy', sans-serif;
                            font-size: 14px;
                            line-height: 21px;
                            color: var(--c-grey);
                            pointer-events: none;
                          }
                        }
                      }
                    }
                  }
                }

                & > a {
                  color: var(--c-dark);
                  font-family: 'FreightSans Pro';
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 20px;
                  letter-spacing: 0.05em;
                  padding-top: 5px;
                }

                & > ul {
                  display: none;

                  & > li {
                    position: relative;
                    padding: 5px 0;

                    & > ul {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }

        .aera-header__menu-btn {
          display: block;
          padding: 25px 15px 0 15px;
          margin: 15px 0 10px 0;
          font-family: 'Gilroy', sans-serif;
          font-size: 16px;
          font-weight: 600;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          color: var(--c-dark);
          text-align: center;
          border-top: 1px solid var(--c-cornflower);
          opacity: 0;
          transform: translateX(200%);
          transition: transform 0.85s ease, opacity 0.3s ease;
        }
      }

      &.menu-open {
        opacity: 1;
        transform: translate(0);
        overflow-y: scroll;

        .aera-header__menu-socials {
          display: flex;
          opacity: 1;
          transform: translateX(0);
        }

        .header--menu {
          display: flex;
          flex-direction: column;

          li {
            opacity: 1;
            transform: translateX(0);
          }
        }

        .aera-header__menu-btn {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  &__btn {
    @include sm-size-min {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: inline-flex;
      height: 50px;
      justify-content: center;
      font-family: Gilroy, sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 3.5;
      letter-spacing: 0.025em;
      color: var(--c-dark);
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
      border-radius: 100px;
      padding: 0 40px;
      outline: none;
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid rgba(138, 196, 232, 0.5);
      transition-duration: 0.2s;
      transition-timing-function: linear;
      transition-property: border-color, background, color;
      cursor: pointer;

      @media screen and (max-width: 1200px) {
        padding: 0 20px;
      }

      &:hover {
        border-color: var(--c-hawkesblue) #ffffff00 var(--c-oysterbay);
        background: linear-gradient(#dee8fb 10%, #e0f9ff 90%);
      }
    }

    @include sm-size-max {
      display: none !important;
    }
  }

  .aera-header__hamburger-wrapper {
    @include sm-size-min {
      display: none !important;
    }

    @include sm-size-max {
      display: inline-flex;
      position: relative;
      z-index: 9998;

      .aera-header__hamburger {
        display: inline-flex;
        position: relative;
        width: 40px;
        height: 40px;
        padding: 10px;
        text-align: left;
        transition: all 0.5s;

        @include xs-size-max {
          margin-right: -10px;
        }

        div,
        div:before,
        div:after {
          background: var(--c-dark);
          position: absolute;
          height: 3px;
          width: 30px;
          transition: all 0.5s;

          @include xs-size-max {
            height: 2px;
            width: 20px;
          }
        }

        div:first-child {
          top: 10px;

          @include xs-size-max {
            top: 14px;
          }
        }

        div:nth-child(2) {
          top: 20px;

          @include xs-size-max {
            top: 19px;
          }
        }

        div:nth-child(3) {
          top: 30px;

          @include xs-size-max {
            top: 24px;
          }
        }

        div {
          transition: top 0.15s 0.17s, transform 0.12s 0.033s;
        }

        div:nth-child(3) {
          transition: top 0.15s 0.17s, transform 0.17s;
        }

        &.active {
          div {
            top: 20px;
            transform: rotate(135deg);
            transition: top 0.1s, transform 0.12s 0.1s;
          }

          div:nth-child(3) {
            transform: rotate(225deg);
            transition: top 0.1s, transform 0.17s 0.1s;
          }
        }
      }
    }
  }
}

body.elementor-editor-active {
  .aera-header {
    pointer-events: none;
  }
}
