html,
.block-editor__container .editor-styles-wrapper {
  // base
  --c-dark: #1a1a1a;
  --c-black: #000;
  --c-grey: #5c6476;
  --c-aluminium: #aaacb2;
  --c-aquahaze: #f7f9fa;
  --c-white: #fff;
  --c-blue: #003f68;
  --c-second-blue: #00578f;
  --c-background-grey: #dcdcdc;

  // decorative
  --c-hawkesblue: #dee8fb;
  --c-oysterbay: #e0f9ff;
  --c-onahau: #cff;
  --c-feta: #f5fef5;
  --c-ecruwhite: #f7f5e9;

  // functional
  --c-govenorbay: #4237b8;
  --c-bahamablue: #00619e;
  --c-deepcerulean: #00819e;
  --c-persiangreen: #009d95;

  --c-poloblue: #96b1d8;
  --c-cornflower: #8ac4e8;
  --c-seagull: #7dd4e8;
  --c-bemuda: #85daca;

  --c-periwinklegray: #b6c8e3;
  --c-lightsteelblue: #b6d2e3;
  --c-jaggedice: #b6dbe3;
  --c-cruise: #b6e4db;

  --c-mineshaft: #333;
  --c-blackhaze: #f5f6f6;
  --c-blacksqueeze: #e6f5f5;
  --c-wepeep: #faebed;
  --c-linkwater: #e6ecf7;
  --c-whitelilac: #efebf7;

  --c-medium: #6d92c9;
  --c-twitter: #5cade0;
  --c-linkedin: #49c5e0;
  --c-facebook: #54cdb5;

  --font-size: 18px;
  --t-primary-font-family: 'FreightSans Pro', sans-serif;
}
