@import "~styles/config";

.investors {
  margin-bottom: $gutter * 4;

  &__container {
    @include container;
  }

  &__title {
    @include heading;
  }

  &__row {
    @media (min-width: $min-720) {
      @include make-row($grid-gutter: 55px);
    }

    @media (min-width: $min-960) {
      @include make-row($grid-gutter: 110px);
    }
  }

  &__col {
    @media (min-width: $min-720) {
      @include make-col(percentage(6/12), $grid-gutter: 55px);
    }

    @media (min-width: $min-960) {
      @include make-col(percentage(6/12), $grid-gutter: 110px);
    }
  }

  &Item {
    margin-bottom: $gutter * 2;
    padding-top: $gutter;

    border-top: 1px solid $color-border;

    @media (min-width: $min-1024) {
      display: flex;
    }

    &__logo {
      @media (min-width: $min-1024) {
        min-width: 35%;
      }

      &Image {
        width: 120px;
      }
    }

    &__text {
      @media (min-width: $min-1024) {
        > p:first-child {
          // stylelint-disable-line
          margin-top: 0;
        }
      }

      a:hover {
        // stylelint-disable-line
        text-decoration: underline;
      }
    }
  }
}
