@import "~styles/config";

.hubspotForm {
  &__container {
    margin-left: auto;
    margin-right: auto;

    max-width: 850px;

    &.isLoading {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__gdpr {
    text-align: center;
    margin-top: 0px;
  }

  &__submitBtn {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    vertical-align: baseline;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding: 0 2.85714em;
    height: 3.57143em;
    color: #1a1a1a;
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    line-height: 3.57143;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 999px;
    border: 1px solid #bee9f3;
    cursor: pointer;
    background: hsla(0, 0%, 100%, 0.5);
    transition: 0.18s;
    transition-property: border-color, background-color, color, opacity;
    line-height: 3.71429;
    border: 0;
    background-color: #dee8fb;
    background-image: linear-gradient(rgba(224, 249, 255, 0), #e0f9ff 90%);
  }
  &__submitBtn:hover {
    background-color: #e0f9ff;
    background-image: linear-gradient(rgba(222, 232, 251, 0), #dee8fb 90%);
  }

  &__group {
    @media (min-width: $min-mobile) {
      display: flex;
      flex-wrap: wrap;
    }

    &Actions {
      flex-direction: row-reverse;
      padding-top: 20px;
    }
  }

  &__item {
    flex: none;
    position: relative;
    margin-bottom: $gutter;

    @media (min-width: $min-mobile) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: none;

      margin-bottom: $gutter * 1.5;

      width: calc(50% - 1em);

      &:nth-child(even) {
        justify-content: flex-end;
        margin-left: auto;
      }
    }

    @media (min-width: $min-tablet) {
      width: calc(50% - #{(35/18) * 1em});
    }

    @media (min-width: $min-desktop) {
      margin-bottom: $gutter * 2;
    }

    &Right {
      //align-items: flex-end;
      width: 100% !important;
    }

    &TabletFull {
      width: 100%;
    }
  }

  &__item:nth-child(3) &__input,
  &__item:nth-child(4) &__input {
    border-color: $color-primary;
  }

  &__item:nth-child(5) &__input,
  &__item:nth-child(6) &__input {
    border-color: $color-cornflower;
  }

  &__thanks {
    padding: $gutter 0;
    text-align: center;
  }

  &__title {
    @include reset-heading;
    margin: 0 0 $gutter / 2;

    @include responsive-font(20, 24);
    font-family: $font-family-gilroy;
    font-weight: 700;
    color: $color-codgray;
  }

  &__subline {
    @include reset-all;
    @include responsive-font(16, 18);
  }
}
