@font-face {
	font-family: 'FreightSans Pro';
	src: url('../fonts/FreightSans-Pro-Book.woff2') format('woff2'),
		url('../fonts/FreightSans-Pro-Book.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'FreightSans Pro';
	src: url('../fonts/FreightSans-Pro-Medium.woff2') format('woff2'),
		url('../fonts/FreightSans-Pro-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
		url('../fonts/Gilroy-Semibold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

