@import "~styles/config";

.intro {
  position: relative;
  z-index: 3;
  height: 450px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 290px 0 0 !important;
  @media (max-width: $min-720) {
    padding: 100px 0 0 !important;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  text-align: center;

  &.fullHeight {
    display: flex;
    align-items: center;
    padding: 0;
    height: 500px;
    min-height: 100vh;
  }

  @media (min-width: $min-768) {
    padding: 0px 0 0;
  }

  @media (min-width: $min-1024) {
    padding: 0px 0 0;
  }

  &__container {
    @include container;
  }

  &__title {
    @include responsive-font(26, 70);
    margin-bottom: 20px;
    padding-top:0px;
    margin-top: 20px;
    font-family: $font-family-heading;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.025em;
    color: $font-color-dark;
  }

  &__link{
    font-family: FreightSans Pro,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color:#7B7C7D;
    //text-decoration: underline;
    margin-bottom: 50px;
    margin-top: 150px;
  }

  &__imageLink{
    display: inline-block;
    vertical-align: sub;
  }

  &__text {
    @include reset-paragraph;
    @include responsive-font(18, 26);

    margin: 0 auto 1em;
    margin-bottom: 70px;
    font-weight: 200;

    @media (min-width: $min-480) {
      max-width: (840/20) * 1em;
      width: 100%;

      .fullHeight & {
        max-width: (940/26) * 1em;
      }
    }
  }
}
