@import "~styles/config";

.decisioncloud{
    &__wrapper{
        padding: 20px 70px 40px 70px;
        max-width: 1440px;
        margin: 0 auto;
        //background-color: #F7F8FA;
        h2{
            font-size: 50px;
            font-family: "Gilroy",sans-serif;
            @media (max-width: $max-960) {
                font-size: 28px;
                
            }
        }
        @media (max-width: $max-960) {
            padding: 20px 20px 40px 20px;
            
        }
    }
    &__components{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        color: #5C6476;
        @media (max-width: $max-960) {
            flex-direction: row;
            width: 100%;

        }
        @media (max-width: $max-720) {
            flex-direction: column;
            width: 100%;
            margin-top: 50px;
        }
    }
    &__cosImage{
        width: 50%;

        @media (max-width: $max-960) {
            width: 100%;
            margin: 0 auto;
        }
        img{
            margin: 0 auto;
            @media (max-width: $max-960) {
                margin: 0 auto;
            }
        }
    }
    &__cosText{
        width: 100%;
        h3{
            font-size: 24px;
            font-family: "Gilroy",sans-serif;
            margin-bottom: 0px;
            @media (max-width: $max-960) {
                font-size: 20px;
            }
        }
        p{
            margin-top: 0;
        }
        @media (max-width: $max-960) {
            width: 100%;
        }
    }
}