@import '~styles/config';

.loadingText {
  display: inline-block;

  opacity: 0.2;

  width: 10em;
  height: 1ex;
  max-width: 100%;

  background: $font-color;

  &.block {
    display: block;
    width: 100%;
    height: 25px;
    background: url('assets/images/loading-text.png') 100% 9px;
  }

  &.lines-2 { height: 54px; }
  &.lines-3 { height: 82px; }
  &.lines-4 { height: 108px; }
  &.lines-5 { height: 134px; }
}
