@import '../../../../assets/css/mixin';

.aera-customers-items {
  margin: -15px 0;

  &__wrapper {
    display: flex;
    align-items: stretch;
    width: 91%;
    flex-wrap: wrap;
    margin: 0 auto;

    @include md-size-max {
      width: 100%;
    }

    .aera-customers-items__item-wrapper {
      padding: 15px;
      width: calc(100% / 3);
      transition: transform 0.3s linear;

      @include sm-size-min {
        min-height: 400px;
      }

      @include xs-size-min {
        &:hover {
          transform: scale(1.01);

          .aera-customers-items__item-content {
            box-shadow: 2px 2px 30px #e5e5e5 !important;
          }
        }
      }

      @include sm-size-max {
        width: 50%;
      }

      @include xs-size-max {
        width: 100%;
      }

      .aera-customers-items__item {
        text-decoration: none;

        .aera-customers-items__item-content {
          position: relative;
          display: flex;
          flex-direction: column;
          height: 100%;
          border-radius: 10px;
          box-shadow: 1px 1px 10px #e5e5e5;
          transition: box-shadow 0.3s linear;

          .aera-customers-items__item-banner {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 95px;
            padding: 10px 20px;
            margin-bottom: 20px;
            border-bottom: 5px solid var(--c-blue);

            @include sm-size-max {
              padding: 10px;
            }

            @include md-size-max {
              flex-direction: column;
            }

            &__icon {
              img {
                display: block;
                width: auto;
                max-width: 55px;
                height: 50px;
                margin: 0 auto;

                @include xs-size-max {
                  height: 45px;
                  max-width: 50px;
                }
              }
            }

            &__title {
              text-align: center;
              font-weight: 700;
              font-size: 22px;
              line-height: 33px;
              padding-left: 10px;
              color: var(--c-bahamablue);

              @include md-size-max {
                padding-left: 0;
              }
            }
          }

          .aera-customers-items__item-details {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            padding: 0 20px;

            @include md-size-max {
              row-gap: 10px;
              flex-wrap: wrap;
            }

            &__left {
              padding-right: 30px;
            }

            &-title {
              font-family: 'Gilroy', sans-serif;
              color: var(--c-deepcerulean);
              font-size: 14px;
            }

            &-value {
              color: var(--c-black);
            }
          }

          .aera-customers-items__item-problems {
            margin-bottom: 20px;
            padding: 0 20px;

            &__title {
              font-family: 'Gilroy', sans-serif;
              color: var(--c-deepcerulean);
              font-size: 14px;
            }

            &__text {
              color: var(--c-black);
            }
          }

          .aera-customers-items__item-btn {
            position: relative;
            bottom: 0;
            right: 0;
            margin-top: auto;
            padding: 0 20px 20px 20px;
            text-align: right;
            font-family: 'Gilroy', sans-serif;
            color: var(--c-black);
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;

            @include xs-size-max {
            }
          }
        }
      }
    }
  }
}
