@import '../mixin';

.aera-blog--announcements {
  padding-top: 220px;

  @include sm-size-max {
    padding-top: 200px;
  }

  @include xs-size-max {
    padding-top: 160px;
  }

  &__wrapper {
    display: flex;

    @include sm-size-max {
      flex-direction: column;
    }

    .aera-blog--announcements__post {
      width: 70%;
      padding-right: 15px;

      @include sm-size-max {
        width: 100%;
        max-width: 100%;
        padding-right: 0;
      }

      &-header {
        .aera-blog--announcements__post-date {
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: var(--c-dark);
          margin-bottom: 40px;

          @include xs-size-max {
            margin-bottom: 30px;
          }
        }

        .aera-blog--announcements__post-title {
          color: var(--c-dark);
          margin-bottom: 40px !important;

          @include sm-size-min {
            font-size: 50px !important;
            letter-spacing: -0.01em !important;
            line-height: 1.08;
          }

          @include sm-size-max {
            font-size: 40px !important;
          }

          @include xs-size-max {
            font-size: 30px !important;
            margin-bottom: 30px;
          }
        }

        a.aera-blog--announcements__post-placement {
          &:hover {
            text-decoration: underline !important;
          }
        }

        .aera-blog--announcements__post-placement,
        .aera-blog--announcements__post-author {
          color: var(--c-dark);
          font-weight: 500;
          margin-top: 15px;
          text-decoration: none;
        }
      }

      &-content {
        padding-top: 60px;

        @include xs-size-max {
          padding-top: 45px;
        }

        .aera-blog--announcements__post-text {
          color: var(--c-dark);

          @include xs-size-max {
            font-size: 16px;
            line-height: 24px;
          }

          a {
            color: var(--c-persiangreen);
            text-decoration: underline;
            word-break: break-word;

            &:hover {
              color: #006a65;
            }
          }

          em {
            font-size: 14px;
          }

          hr {
            margin: 30px 0;
            height: 1px;
            border: 0;
            background: var(--c-dark);
          }

          p {
            margin: 20px 0;

            @include xs-size-max {
              margin: 15px 0;
            }

            em {
              a {
                color: var(--c-bahamablue);
                text-decoration: none;

                &:hover {
                  color: var(--c-bahamablue);
                  text-decoration: underline;
                }
              }
            }
          }

          h1,
          h2 {
            margin: 25px 0;

            @include xs-size-max {
              margin: 20px 0;
            }
          }

          ul,
          ol,
          h3,
          h4,
          h5,
          h6 {
            margin: 20px 0;

            @include xs-size-max {
              margin: 15px 0;
            }
          }

          ul {
            list-style: none;

            li {
              position: relative;
              margin-bottom: 15px;
              padding-left: 30px;

              &::before {
                content: '\2013';
                position: absolute;
                top: -2px;
                left: 1px;
                font-weight: 500;
                color: var(--c-persiangreen);
              }
            }
          }

          ol {
            counter-reset: ol-counter;
            list-style: none;

            li {
              position: relative;
              margin-bottom: 15px;
              padding-left: 30px;
              counter-increment: ol-counter;

              &::before {
                content: counter(ol-counter);
                position: absolute;
                top: -2px;
                left: 1px;
                font-weight: 500;
                color: var(--c-persiangreen);
              }
            }
          }

          a {
            img {
              border: 1px solid var(--c-persiangreen);
            }
          }

          img {
            display: block;
            margin: 30px 0;

            @include xs-size-max {
              margin: 25px 0;
            }

            &.aligncenter {
              margin: 30px auto;

              @include xs-size-max {
                margin: 25px auto;
              }
            }

            &.alignright {
              margin-left: auto;
            }

            &.alignleft {
              margin-right: auto;
            }
          }

          blockquote {
            margin: 30px 0;
            padding: 30px 30px 15px 30px;
            border: none;
            background-color: #d0def1;
            font-family: 'FreightSans Pro', sans-serif;
            color: var(--c-black);
            font-style: italic;
            font-weight: 400;
            text-align: center;

            p,
            ul,
            li,
            a,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              margin-top: 0 !important;
              margin-bottom: 15px;
            }
          }
        }
      }
    }

    .aera-blog--announcements__sidebar {
      width: 30%;
      padding-left: 70px;

      @include md-size-max {
        padding-left: 55px;
      }

      @include sm-size-max {
        padding: 50px 30px 0 30px;
        width: 100%;
        max-width: 100%;
      }

      @include xs-size-max {
        padding: 0;
      }

      &-share {
        padding: 60px 0 30px 0;

        @include md-size-max {
          padding: 20px 0 10px 0;
        }

        @include xs-size-max {
          padding-top: 60px;
        }

        &__text {
          color: var(--c-dark);
          font-weight: 700;
          margin-bottom: 20px;
        }

        &__social {
          display: inline-flex;
          vertical-align: top;
          text-align: right;
          margin: 0 9% 5px 0;

          @include md-size-max {
            margin: 0 7% 10px 0;
          }

          a {
            display: inline-flex;
            text-decoration: none !important;
            margin: 0;
            padding: 0;
            @include xs-size-min {
              transition: transform 0.3s linear;

              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }

      &-posts {
        &__title {
          color: var(--c-dark);
          font-weight: 700;
          padding-bottom: 20px;
        }

        .aera-blog--announcements__sidebar-post {
          border-top: 1px solid var(--c-grey);
          padding: 15px 0;

          &__wrapper {
            text-decoration: none;

            .aera-blog--announcements__sidebar-post__title {
              color: var(--c-dark);

              @include xs-size-min {
                transition: color 0.3s ease;

                &:hover {
                  color: var(--c-persiangreen);
                }
              }
            }
          }
        }
      }

      &-categories {
        border-top: 1px solid var(--c-grey);

        &__title {
          color: var(--c-dark);
          font-weight: 700;
          margin: 20px 0;
        }

        &__items {
          padding-left: 20px;

          a {
            display: block;
            color: var(--c-dark);
            font-weight: 400;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &__demo {
    padding: 180px 0 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include sm-size-max {
      padding: 120px 0;
    }

    @include xs-size-max {
      padding: 100px 0;
    }

    &-title {
      color: var(--c-dark);
    }

    &-btn {
      margin-top: 30px;
    }
  }
}
