@import '../mixin';

.aera-blog {
  $blog: &;

  &--search-page {
    padding: 100px 0;
    text-align: center;
    min-height: calc(100vh - 184px);

    @include lg-size-max {
      padding: 90px 0;
    }

    @include sm-size-max {
      padding: 80px 0;
    }

    @include xs-size-max {
      padding: 50px 0;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__search-form {
      div {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        @include xs-size-max {
          flex-direction: column;
          align-items: center;
        }
      }
      input[type='text'] {
        border: 1px solid rgba(var(--ca-dark), 0.15);
        padding: 4px 20px;
        min-width: 250px;
        margin-bottom: 20px;
        margin-right: 10px;
        height: 44px;
        border-radius: var(--post-br);

        @include xs-size-max {
          margin-right: 0;
          text-align: center;
        }
      }
      input[type='submit'] {
        border: none;
        position: relative;
        z-index: 10;
        font-weight: 600;
        padding: 0 20px;
        background-color: var(--c-active);
        color: var(--c-light);
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: var(--post-br);
        height: 44px;
        display: inline-flex;
        align-items: center;
        &:hover {
          background-color: var(--c-dark);
        }
      }
    }
  }

  &--banner {
    background-color: var(--c-alter2);
    padding: 130px 15px;
    text-align: center;
    min-height: 150px;
    background-size: cover;
    background-position: center;

    @include md-size-max {
      padding: 100px 15px;
    }

    @include xs-size-max {
      padding: 80px 15px;
    }

    &__title {
      line-height: 1.4;
      font-size: 70px;
      @media only screen and (max-width: 1024px) {
        font-size: 55px;
      }
      @media only screen and (max-width: 767px) {
        font-size: 45px;
      }
    }

    &__count-results {
      margin-top: 25px;
      color: var(--c-grey);
    }
  }

  &--wrapper {
    --page-bg: var(--c-alter2);
    --post-br: 7px;
    --post-cat-bg: var(--c-active);
    --post-bg: var(--c-light);

    background: var(--page-bg);
    padding: 100px 0 70px;

    @include lg-size-max {
      padding: 90px 0 60px;
    }

    @include sm-size-max {
      padding: 80px 0 50px;
    }

    @include xs-size-max {
      padding: 30px 0;
    }
    #{$blog}--top {
      &-wrap {
        padding-bottom: 100px;
        text-align: center;

        @include lg-size-max {
          padding-bottom: 90px;
        }

        @include sm-size-max {
          padding-bottom: 80px;
        }

        @include xs-size-max {
          padding-bottom: 30px;
        }
      }
      &-title {
        margin-bottom: 0;
        & + #{$blog}--top-subtitle {
          margin-top: 10px;
        }
      }
    }

    #{$blog}--post {
      margin-bottom: 30px;

      @media only screen and (max-width: 767px) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
      }

      &__media {
        img {
          width: 100%;
          border-top-left-radius: var(--post-br);
          border-top-right-radius: var(--post-br);
        }

        & + #{$blog}--post__info-wrap {
          #{$blog}--post-header {
            margin-top: calc(-27px - 0.8rem);
          }
        }
      }

      &-wrap {
        border-radius: var(--post-br);
        background: var(--post-bg);
        box-shadow: rgba(var(--ca-dark), 0.05) 0 0 15px 0;
      }

      &.sticky {
        #{$blog}--post__title {
          &::before {
            content: '\f367';
            font-family: '>';
            display: inline-block;
            margin-right: 10px;
            transform: rotate(30deg);
            color: var(--c-active);
          }
        }
      }

      &__info-wrap {
        padding: 20px 30px;
        position: relative;
      }
      &-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
      }
      &__categories {
        a {
          padding: 4px 10px;
          background: var(--post-cat-bg);
          border-radius: calc(var(--post-br) * 2);
          color: var(--c-light);
          border: 3px solid var(--c-light);
          display: inline-block;
          font-weight: 600;
          font-size: 0.9rem;
        }
        & + #{$blog}--post__time {
          min-width: 100px;
          width: 100px;
        }
      }
      &__time {
        text-align: right;
        margin-left: auto;
        b {
          color: var(--c-grey);
          font-size: 0.9rem;
        }
        span {
          padding: 4px 10px;
          background: var(--c-light);
          border-radius: calc(var(--post-br) * 2);
          color: var(--c-grey);
          border: 3px solid var(--c-light);
          display: inline-block;
        }
      }
      &__title {
        transition: all 0.3s ease;
        margin-bottom: 8px;
        display: inline-block;
        word-wrap: break-word;
        max-width: 100%;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        font-family: inherit;
        line-height: inherit;

        &:hover {
          color: var(--c-active);
        }
      }
      &__text {
        margin-bottom: 20px;
        word-wrap: break-word;
        p {
          margin-bottom: 0;
        }
      }
      &__author {
        color: var(--c-dark);
        display: flex;
        align-items: center;
        margin-top: auto;
        margin-bottom: 20px;
        img {
          border-radius: 50%;
          margin-right: 15px;
        }
        &-info {
          display: flex;
          align-items: center;
          a {
            color: var(--c-grey);
            display: inline-block;
            margin-bottom: 0;
            &:hover {
              color: var(--c-active);
              &::before {
                color: var(--c-grey);
              }
            }
          }
          & + a {
            &::before {
              content: '\2015';
              margin-right: 5px;
              margin-left: 5px;
            }
          }
        }
        & > a {
          text-align: right;
        }
      }
      &__footer {
        border-top: 1px solid rgba(var(--ca-grey), 0.15);
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__comments {
        border-left: 1px solid rgba(var(--ca-grey), 0.15);
        padding-left: 20px;
        i {
          display: inline-block;
          margin-right: 5px;
          font-weight: inherit;
          &::before {
            font-weight: inherit;
          }
        }
        b {
          color: inherit;
        }
      }
    }
    #{$blog}--pagination {
      text-align: center;
      margin-top: 63px;
      margin-bottom: 23px;

      @include lg-size-max {
        margin-top: 53px;
      }

      @include sm-size-max {
        margin-top: 33px;
        margin-bottom: 53px;
      }

      @include xs-size-max {
        margin-top: 15px;
        margin-bottom: 23px;
      }

      .page-numbers {
        color: var(--c-grey);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        margin: 8px;
        font-size: 1rem;
        &:hover {
          color: var(--c-active);
        }
        &.current {
          background: var(--c-active);
          color: var(--c-light);
          padding: 10px 15px;
          font-weight: 500;
          border-radius: var(--post-br);
        }
      }
    }
  }
}
