@import '../mixin';

.aera-cos-details {
  padding-top: 220px;

  @include sm-size-max {
    padding-top: 200px;
  }

  @include xs-size-max {
    padding-top: 180px;
  }

  .container {
    @include md-size-min {
      width: 90%;
    }
  }

  &__banner {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 120px;

    @include sm-size-max {
      padding-bottom: 100px;
    }

    @include xs-size-max {
      padding-bottom: 80px;
    }

    .aera-cos-details__title {
      color: var(--c-dark);
      margin-bottom: 20px;

      @include xs-size-max {
        margin-bottom: 15px;
      }
    }

    .aera-cos-details__subtitle {
      color: var(--c-grey);
    }
  }

  &__main {
    padding: 90px 0;
    background-color: var(--c-aquahaze);

    @include sm-size-max {
      padding: 100px 0;
    }

    @include xs-size-max {
      padding: 80px 0;

      .container {
        padding: 0 !important;
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include xs-size-max {
        flex-direction: column;
      }

      &__left {
        width: 40%;
        padding-right: 20px;

        @include xs-size-max {
          width: 100%;
          padding: 0 20px !important;
          margin-bottom: 40px;
        }

        .aera-cos-details__main-wrapper__left-text {
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;

          ul,
          ol {
            margin: 20px 0;
          }

          p {
            color: var(--c-black);
            margin-bottom: 20px;

            &:last-of-type {
              margin-bottom: 0 !important;
            }
          }

          a {
            color: var(--c-bahamablue) !important;
            text-decoration: none;

            &:hover {
              text-decoration: underline !important;
            }
          }
        }
      }

      &__right {
        position: relative;
        margin: 0;
        width: 60%;

        @include xs-size-max {
          width: 100%;
          padding: 0 5px !important;
        }

        img {
          display: block;
          margin: 0 auto;

          @include xs-size-max {
            margin-bottom: -10px;
          }
        }
      }
    }
  }

  &__benefits {
    padding: 120px 0 100px 0;

    @include sm-size-max {
      padding: 100px 0 80px 0;
    }

    @include xs-size-max {
      padding: 80px 0 60px 0;
    }

    &-content {
      display: flex;
      align-items: flex-start;

      @include md-size-min {
        padding: 0 40px;
      }

      @include md-size-max {
        padding: 0 20px;
      }

      @include sm-size-max {
        padding: 0;
      }

      @include xs-size-max {
        flex-direction: column;
      }

      .aera-cos-details__benefits-right,
      .aera-cos-details__benefits-left {
        width: 50%;
        padding-right: 50px;

        @include xs-size-max {
          width: 100%;
          padding-right: 0;
        }

        ul {
          padding-left: 20px;

          ul {
            margin-top: 15px;
          }
        }

        ul,
        ol {
          color: var(--c-black);

          li {
            color: inherit;
            font-size: inherit;
            line-height: inherit;
            margin-bottom: 20px;
          }
        }

        ol {
          padding-left: 40px;
          display: flex;
          flex-wrap: wrap;

          li {
            width: calc(100% / 3 - 5px);
            list-style-type: circle;
            padding-right: 20px;
            margin-right: 5px;

            @include sm-size-max {
              width: calc(100% / 2 - 20px);
              margin-right: 20px;
            }

            @media screen and (max-width: 820px) {
              width: 100%;
              margin-right: 0;
              padding-right: 0;
            }
          }
        }
      }

      .aera-cos-details__benefits-title {
        color: var(--c-dark);
        margin-bottom: 20px;
      }

      .aera-cos-details__benefits-left {
        @include xs-size-max {
          margin-bottom: 40px;
        }
      }

      .aera-cos-details__benefits-right {
        @include sm-size-max {
          padding-right: 0;
        }
      }
    }
  }
}
