@import "~styles/config";

.skills {

  &__detailWrapper{
    //margin-top:50px;
    padding: 0px 20px;
    @media (max-width: $max-720) {
      margin-top: 0px;
      padding: 50px 0;
    }
  }

  &__clearfix{
    clear: both;
  }

  &__imagetext{
    width: 100%;
    position: relative;
    background-color: #F7F9FA;
    padding: 50px 0;
    // &:after{
    //   content: '';
    //   width: 100%;
    //   height: 400px;
    //   background-color: #F7F9FA;
    //   position: absolute;
    //   bottom: 0px;
    //   left: 0;
    //   z-index: -1;
    //   @media (max-width: $max-960) {
    //     height: 300px;
    //   }
    //   @media (max-width: $max-720) {
    //     display: none;
    //   }
    // }
  }

  &__featImage{
    position: relative;
    margin: 0px 0px 0px 0;
    width: 100%;
    //float: right;
    @media (max-width: $max-720) {
      margin: 20px 0px 20px 0;
      width: 100%;
    }
    img{
      margin: 0 auto;
      margin-bottom: 30px;
    }
    
    
    // img{
    //   width: 75%;
    //   margin: 0 auto;
    //   @media (max-width: $max-960) {
    //     width: 90%;
    //   }
    //   @media (max-width: $max-720) {
    //     width: 90%;
    //   }
    // }
  }
  color: #000;
  &__container {
    //@include container;
    padding: 0 90px;
    max-width: 90%;
    margin: 0 auto;
    @media (max-width: $max-1024) {
      max-width: 100%;
      padding: 0 50px;
    }
    @media (max-width: $max-960) {
      padding: 0 20px;
    }
    @media (max-width: $max-720) {
      padding: 0 20px;
    }
  }

  &__row {
    @include make-row;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  &__content {
    @include make-col;

    // width: 75% !important;
    // margin: 0 auto;
    font-weight: 200;

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 42px;
      line-height: 52px;
      color: #1a1a1a;
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: Gilroy, sans-serif;

      @media (max-width: $max-720) {
        font-size: 36px;
        line-height: 46px;
      }
    }

    // div {
    //   color: #1a1a1a;
    //   font-weight: 200;
    //   font-size: 24px;
    //   line-height: 34px;
    // }

    p {
      display: inline-block;
      //width: 75%;
      vertical-align: top;
      margin-top: 0;
    }

    // p,
    // ul {
    //   color: #1a1a1a;
    //   font-style: normal;
    //   font-weight: 200;
    //   font-size: 24px;
    //   line-height: 34px;
    //   letter-spacing: 0px;
    // }

    ul {
      padding-left: 20px;
      padding-right: 20px;
      width: 50%;
      &:first-child{
        padding-right: 40px;
      }
      @media (max-width: $max-720) {
        width: 100%;
        padding-right: 0px;
        margin-top:0;
        margin-bottom: 0;
        &:first-child{
          padding-right: 0px;
        }
      }
    }

    li {
      margin-bottom: 20px;
      font-size: 18px;
    }

    li span {
      font-weight: 600;
    }

    @media (min-width: $min-1024) {
      // margin-left: percentage(1/12);
      width: percentage(12/12);
    }

    @media (max-width: $max-720) {
      width: 100% !important;

      // div p {
      //   width: 100%;
      //   margin-bottom: 15px;
      // }
    }

  }

  &__list {
    width: 100%;
    // float: left;
    // min-height: 230px;
    // padding-right: 50px;
    margin-bottom: 50px;
    display: flex;
    
    @media (max-width: $max-720) {
      flex-direction: column;
    }
    
    ol{
      display: flex;
      flex-wrap: wrap;
      li{
        width: 33.33%;
        list-style-type: circle;
        padding-right: 20px;
        @media (max-width: $max-1024) {
          width: 50%;
        }
        @media (max-width: $max-960) {
          width: 50%;
        }
        @media (max-width: $max-720) {
          width: 100%;
          float: none;
        }
      }
    }

    img {
      height: 64px;
      margin-bottom: 15px;
    }

    span {
      font-weight: 600;
      display: block;
      margin-bottom: 15px;
    }

    @media (max-width: $max-720) {
      width: 100%;
      min-height: auto;
      padding-right: 0px;
    }
  }

  &__bodyCopy{
    width: 100%;
    //float: left;
    padding-right: 0px;
    font-size: 18px;
    line-height: 28px;
    margin-top: 50px;
    margin-bottom: 50px;
    p{
      margin-top: 0;
    }
    @media (max-width: $max-720) {
      max-width: 100%;
      width: 100%;
      padding: 0px 20px 0 20px;
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__kpi {
    margin-top: 40px;

    &__list {
      width: 50%;
      float: left;
      min-height: 230px;
      padding-right: 50px;
      margin-bottom: 40px;

      img {
        height: 64px;
        margin-bottom: 15px;
      }

      span {
        font-weight: 600;
        display: block;
        margin-bottom: 15px;
      }

      @media (max-width: $max-720) {
        width: 100%;
        min-height: auto;
        padding-right: 0px;
      }
    }


    &__listLast {
      width: 50%;
      float: left;
      padding-right: 20px;
      margin-bottom: 40px;

      img {
        height: 75px;
        margin-bottom: 15px;
      }

      span {
        font-weight: 600;
        display: block;
        margin-bottom: 15px;
      }
      @media (max-width: $max-720) {
        width: 100%;
        min-height: auto;
        padding-right: 0px;
      }
    }
  }

  &__clearfix {
    clear: both;
  }

  &__centerText {
    text-align: center;
  }

  &__demoButton {
    color: #1a1a1a;
    border-color: rgba(138, 196, 232, 0.5);
    font-size: 14px;
    padding: 0;
    margin: 0;

    vertical-align: baseline;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding: 0 2.85714em;
    height: 3.57143em;
    color: #1a1a1a;
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    line-height: 3.57143;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 999px;
    border: 1px solid #bee9f3;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    transition: 180ms;
    transition-property: border-color, background-color, color, opacity;

    &:hover {
      background-color: #dee8fb;
      border-color: #dee8fb rgba(255, 255, 255, 0) #e0f9ff;
      background-image: linear-gradient(rgba(224, 249, 255, 0) 0%, #e0f9ff 90%);
    }
  }

  &__resources {
    @include make-col;
    margin-bottom: 50px;

    &__col {
      width: 33.33%;
      float: left;
      display: block;
      padding-right: 30px;
      color: #1a1a1a;
      font-weight: normal;

      @media (max-width: $max-1024) {
        width: 50%;
      }

      @media (max-width: $max-720) {
        width: 100%;
      }
    }

    &__link {
      color: #00619e;
      font-weight: bold;
    }

    h2 {
      text-align: center;
      font-size: 40px;
      line-height: 50px;
    }
    h3 {
      border-bottom: 1px solid #1a1a1a;
      padding-bottom: 15px;
      margin-bottom: 15px;
      font-size: 32px;
      line-height: 44px;
    }
    p {
      text-align: left !important;
      color: #00619e;
      font-weight: bold;
    }
    
  }
}
