@use 'sass:math';
@use '../variables' as *;
@use '../mixins' as *;
@use '../reset' as *;

/* DEMO FORM */
.demo-form {
	&__formSectionWrapper {
		padding: 150px 0 0;
	}

	&__formSection {
		width: 100%;
		background-repeat: no-repeat;
		background-position: left;
		background-size: cover;
		color: $color-white;
		margin-top: 30px;
		padding-bottom: 50px;
		overflow: hidden;
	}

	&__formContainer {
		max-width: 1320px;
		margin: 0 auto;
		padding: 0 20px;
	}

	&__formRow {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		h1 {
			color: $color-white;
		}

		@media (max-width: $max-960) {
			flex-direction: column;
		}
	}

	&__formCopy {
		width: 50%;
		position: relative;
		z-index: 1;

		@media (max-width: $max-720) {
			width: 100%;
		}
	}

	&__mTop30 {
		margin-bottom: 30px;
		font-weight: 300;
	}

	&__formDashboard {
		position: relative;

		@media (max-width: $max-960) {
			display: none;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}

	&__contentwrapper {
		background-color: $color-white;
		padding: 30px;
		position: relative;
		width: 70%;
		border-radius: 20px;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);

		@media (max-width: $max-960) {
			width: 100%;
		}

		@media (max-width: $max-720) {
			padding: 20px 30px;
		}

		&.hs_error_rollup {
			display: none;
		}

		div {
			position: relative;

			&[class='grecaptcha-badge'] {
				transform: scale(0.7);
				transform-origin: 0 0;
			}

			&[class='legal-consent-container'] {
				margin-bottom: 0 !important;

				p {
					font-size: 10px;
					line-height: 15px;
				}
			}

			&[class='hs-richtext'] {
				margin-bottom: 0 !important;
			}
		}

		ul {
			margin: 0;
			padding-left: 0;
			position: relative;
			bottom: 0;
			left: 0;
			font-size: 12px;
			color: red;

			li {
				list-style-type: none;
			}
		}

		input {
			border: 0;
			border-bottom: 2px solid $color-bemuda;
			max-width: 100%;
			width: 100% !important;
			line-height: 3;
			font-family: $font-family-freight;
			font-size: 16px;
			color: $color-shuttlegray;
			background-color: transparent;

			&::placeholder {
				color: $color-codgray;
			}

			&:focus {
				outline: 0 !important;
			}

			@media (max-width: $max-720) {
				max-width: 100%;
			}

			&[type='submit'] {
				font-size: 14px;
				line-height: 3.71429;
				border: 0;
				background-color: $color-hawkesblue;
				background-image: linear-gradient(rgba(224, 249, 255, 0), $color-oysterbay 90%);
				margin: 0;
				vertical-align: baseline;
				appearance: none;
				display: inline-flex;
				justify-content: center;
				position: relative;
				padding: 0 2.85714em;
				height: 3.57143em;
				color: $color-codgray;
				font-family: $font-family-gilroy;
				font-weight: 600;
				line-height: 3.57143;
				letter-spacing: 0.025em;
				text-transform: uppercase;
				text-decoration: none;
				white-space: nowrap;
				border-radius: 999px;
				cursor: pointer;
				transition: 0.18s;
				transition-property: border-color, background-color, color, opacity;
				margin-top: 20px;

				&:hover {
					background-color: $color-oysterbay;
					background-image: linear-gradient(rgba(222, 232, 251, 0), $color-hawkesblue 90%);
				}

				@media (max-width: $max-720) {
					max-width: 60%;
				}
			}
		}

		fieldset {
			max-width: 100% !important;

			div {
				margin-bottom: 20px !important;
				position: relative;
				padding-right: 5px;
				color: $color-codgray;
				font-weight: 400;
				font-size: 12px;
				line-height: 20px;
				margin-right: 0 !important;
				width: 100% !important;

				@media (max-width: $max-720) {
					width: 100% !important;
					margin-bottom: 20px !important;
					padding-right: 5px;
				}
			}
		}

		select {
			width: 100%;
			margin-top: 10px;
			font-family: inherit;
			font-size: 14px;
			font-weight: inherit;
			line-height: inherit;
			vertical-align: baseline;
			border: 0;
			background: transparent;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			display: block;
			padding-left: 15px;
			padding-right: 5px;
			max-width: 100%;
			text-transform: inherit;
			color: $color-codgray;
			border-color: #bee9f3;
			position: relative;
			border-radius: 999px;
			border: 1px solid #bee9f3;
			height: 3em;
			vertical-align: baseline;
			display: inline-flex;

			&:focus {
				outline: 0 !important;
			}

			background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
			background-repeat: no-repeat;
			background-position-x: 95%;
			background-position-y: 10px;
		}

		textarea {
			padding: 0.8em 0;
			height: 50px;
			width: 100% !important;
			line-height: 1.33333;
			resize: none;
			border: 0;
			font-family: $font-family-freight;
			font-size: 16px;
			color: $color-codgray;
			border-bottom: 2px solid $color-bemuda;
			background-color: transparent;
			border-radius: 0;
			vertical-align: baseline;

			&::placeholder {
				color: $color-codgray;
			}

			&:focus {
				outline: 0 !important;
			}
		}
	}
}

