@use '../variables' as *;
@use '../mixins' as *;
@use '../reset' as *;

.intro {
	position: relative;
	z-index: 3;
	padding: 50px 0 0;
	text-align: center;

	&.fullHeight {
		display: flex;
		align-items: center;
		padding: 0;
		height: 500px;
		min-height: 100vh;
	}

	@media (min-width: $min-768) {
		padding: 50px 0 0;
	}

	@media (min-width: $min-1024) {
		padding: 0px 0 0;
	}

	&__container {
		@include container;
	}

	&__title {
		@include responsive-font(28, 66);
		margin-bottom: 0px;

		font-family: $font-family-heading;
		font-weight: 700;
		line-height: 76px;
		letter-spacing: -0.025em;
		color: $font-color-dark;
		@media (max-width: $min-720) {
			line-height: 40px;
		}
	}
	&__subtitle {
		@include responsive-font(18, 36);
		//margin-bottom: 6px;
		margin: 0;
		font-family: $font-family-heading;
		font-weight: 100;
		line-height: 46px;
		letter-spacing: -0.025em;
		color: $font-color-dark;
		margin-bottom: 15px;
		margin-top: 5px;
		@media (max-width: $min-720) {
			line-height: 18px;
		}
	}

	&__scrollBtn {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -20%);
		// animation: bounce 2.5s infinite;
		// @keyframes bounce {
		//   0%, 20%, 50%, 80%, 100% {
		//     transform: translateY(0);
		//   }
		//   40% {
		//     transform: translateY(-30px);
		//   }
		//   60% {
		//     transform: translateY(-15px);
		//   }
		// }
		img {
			width: 35px;
			cursor: pointer;
		}
		@media (max-width: $min-720) {
			transform: translate(-50%, -120%);
			bottom: 8%;
		}
	}
	&__text {
		@include reset-paragraph;
		@include responsive-font(18, 26);

		margin: 0 auto 1em;

		font-weight: 400;

		@media (min-width: $min-480) {
			max-width: (840/26) * 1em;
			width: 100%;

			.fullHeight & {
				max-width: (940/26) * 1em;
			}
		}
	}
}

.additionalsection {
	padding: 5rem 1.5rem;
	background: $color-background;
	text-align: center;

	&__text {
		font-size: clamp(1.5rem, 3vw, 2.5rem);
		font-family: $font-family-heading;
		margin: 0 auto;
		width: min(760px, 100%);
	}
}

.request {
	padding: 4rem 1.5rem 6rem;

	&__container {
		width: min(780px, 100%);
		margin: 0 auto;
		text-align: center;
		border: 1px solid $color-border;
		border-radius: 24px;
		padding: 3rem 2.5rem;
		box-shadow: 0 24px 60px rgba(0, 0, 0, 0.06);
	}

	&__title {
		font-size: clamp(2rem, 3vw, 2.8rem);
		margin-bottom: 1.5rem;
	}
}

@media (max-width: 767px) {
	.header__demo {
		display: none;
	}
}
