@use 'sass:math';
@use '../variables' as *;
@use '../mixins' as *;
@use '../grid' as *;
@use '../reset' as *;

/* TEST DRIVE */
.testdrive {
	color: $color-codgray;

	&__clearfix {
		clear: both;
	}

	&__padding {
		padding: 50px 0px !important;
	}

	&__section1 {
		padding-top: 200px;
		padding-bottom: 50px;
		width: 100%;

		@media (max-width: $max-720) {
			padding-top: 150px;
		}
	}

	&__section1wrapper {
		width: 100%;
		margin: 0 auto;

		@media (max-width: $max-720) {
			width: 100%;
		}
	}

	&__section1lefttext {
		width: 50%;
		float: left;
		padding-right: 30px;

		@media (max-width: $max-720) {
			width: 100%;
			padding-right: 0;
		}
	}

	&__section1rightimg {
		width: 50%;
		float: left;

		p {
			text-align: center;
			font-size: 24px;
			color: $color-cornflower;
			margin-top: 0;
			font-family: $font-family-gilroy;
			font-weight: 600;
		}

		@media (max-width: $max-720) {
			width: 100%;
		}
	}

	&__formwrapper {
		width: 85%;
		margin: 0 auto;
		background: $color-white;
		box-shadow: 0px 0px 10px #ccc;
		padding: 30px;
		border-radius: 10px;

		@media (max-width: $max-720) {
			width: 100%;
			padding: 15px;
			margin-top: 20px;
		}

		&.hs_error_rollup {
			display: none;
		}

		div {
			position: relative;
			margin-bottom: 15px;

			&[class="actions"] {
				text-align: center;
			}
		}

		ul {
			margin: 0;
			padding-left: 0px;
			position: relative;
			bottom: 0px;
			left: 0;
			font-size: 12px;
			color: red;

			li {
				list-style-type: none;
			}
		}

		input {
			border: 0;
			border-bottom: 1px solid $color-cornflower;
			max-width: 100%;
			width: 100%;
			line-height: 3;
			font-family: $font-family-freight;
			font-weight: 200;
			font-size: 16px;
			color: rgb(92, 100, 118);

			&:focus {
				outline: 0 !important;
			}

			@media (max-width: $max-720) {
				max-width: 100%;
			}

			&[type="submit"] {
				max-width: 50%;
				font-size: 14px;
				line-height: 3.71429;
				border: 0;
				background-color: $color-hawkesblue;
				background-image: linear-gradient(rgba(224, 249, 255, 0), $color-oysterbay 90%);
				margin: 0;
				vertical-align: baseline;
				appearance: none;
				display: inline-flex;
				justify-content: center;
				position: relative;
				padding: 0 2.85714em;
				height: 3.57143em;
				color: $color-codgray;
				font-family: $font-family-gilroy;
				font-weight: 600;
				line-height: 3.57143;
				letter-spacing: 0.025em;
				text-transform: uppercase;
				text-decoration: none;
				white-space: nowrap;
				border-radius: 999px;
				cursor: pointer;
				transition: 0.18s;
				transition-property: border-color, background-color, color, opacity;
				margin-top: 20px;

				&:hover {
					background-color: $color-oysterbay;
					background-image: linear-gradient(rgba(222, 232, 251, 0), $color-hawkesblue 90%);
				}

				@media (max-width: $max-720) {
					max-width: 60%;
				}
			}
		}

		fieldset {
			max-width: 100% !important;

			div {
				margin-bottom: 20px !important;
				position: relative;

				@media (max-width: $max-720) {
					width: 100% !important;
					margin-bottom: 20px !important;
				}
			}
		}

		select {
			width: 100%;
			margin-top: 10px;
			font-family: inherit;
			font-size: 16px;
			font-weight: inherit;
			line-height: inherit;
			vertical-align: baseline;
			border: 0;
			background: 0 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			display: block;
			padding-right: 9.77143em;
			max-width: 100%;
			text-transform: inherit;
			color: rgb(92, 100, 118);
			border-color: $color-cornflower;
			position: relative;
			border-bottom: 1px solid $color-cornflower;
			height: 2.5em;
			vertical-align: baseline;
			display: inline-flex;

			&:focus {
				outline: 0 !important;
			}

			-webkit-appearance: none;
			-moz-appearance: none;
			background: transparent;
			background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
			background-repeat: no-repeat;
			background-position-x: 95%;
			background-position-y: 10px;
		}
	}

	&__formPlaceholder {
		padding: 40px 20px;
		text-align: center;
		color: $color-shuttlegray;

		p {
			margin-bottom: 10px;
		}
	}

	&__imagePlaceholder {
		padding: 60px 20px;
		text-align: center;
		background: $color-aquahaze;
		color: $color-shuttlegray;
		border-radius: 10px;
	}

	&__buttonwrapper {
		margin: 20px 0;
	}

	&__requestbutton {
		display: inline-block;
		max-width: none;
		line-height: 26px;
		padding: 8px 25px;
		border-radius: 20px;
		background-color: $color-white;
		color: $color-codgray;
		font-size: 18px;
		font-weight: 400;
		border: 1px solid rgba(138, 196, 232, 0.5);

		&:hover {
			background-color: $color-hawkesblue;
			border-color: $color-hawkesblue rgba(255, 255, 255, 0) $color-oysterbay;
			background-image: linear-gradient(rgba(224, 249, 255, 0) 0%, $color-oysterbay 90%);
		}
	}

	&__quoteflex {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: space-around;
		align-items: center;

		@media (max-width: $max-720) {
			flex-direction: column;
		}
	}

	&__quotesection {
		width: 100%;
		padding: 50px 0px;
		background-color: #f6f7fa;
		background-position: 0px center;
		background-repeat: no-repeat;
		background-size: inherit;
		position: relative;
		margin-top: 75px;
	}

	&__overlay {
		// Overlay styles if needed
	}

	&__quotelogo {
		float: left;
	}

	&__quote {
		float: left;
		margin-left: 100px;

		@media (max-width: $max-720) {
			margin-left: 0;
		}

		h2 {
			margin-top: 0;

			@media (max-width: $max-720) {
				margin: 0px;
				margin-left: 0;
				font-size: 20px;
			}
		}

		ul {
			padding-left: 15px;
			font-size: 20px;
			margin-top: 40px;
			margin-bottom: 0;

			@media (max-width: $max-720) {
				font-size: 16px;
			}
		}

		li {
			list-style-type: none;
		}
	}

	&__signaturewrapper {
		padding-left: 15px;
		font-size: 20px;
		margin-top: 40px;
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: flex-end;

		@media (max-width: $max-720) {
			align-items: flex-start;
			font-size: 16px;
		}
	}

	&__bold {
		font-weight: 900;
	}

	&__dash {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			width: 10px;
			height: 1px;
			background-color: $color-shuttlegray;
			top: 15px;
			left: -15px;

			@media (max-width: $max-720) {
				width: 8px;
				top: 12px;
				left: -13px;
			}
		}
	}

	&__ctasection {
		width: 100%;
		padding: 50px 0px;
		background-color: #f6f7fa;
		margin-bottom: 50px;
		text-align: center;

		h2 {
			margin-bottom: 0;
		}
	}

	&__footerbutton {
		padding: 30px 0px;
	}

	&__meetaerabutton {
		display: inline-block;
		max-width: none;
		line-height: 26px;
		padding: 10px 50px;
		border-radius: 20px;
		background-color: $color-white;
		color: $color-codgray;
		font-size: 20px;
		font-weight: 400;
		border: 1px solid rgba(138, 196, 232, 0.5);

		&:hover {
			background-color: $color-hawkesblue;
			border-color: $color-hawkesblue rgba(255, 255, 255, 0) $color-oysterbay;
			background-image: linear-gradient(rgba(224, 249, 255, 0) 0%, $color-oysterbay 90%);
		}

		@media (max-width: $max-720) {
			padding: 8px 40px;
			font-size: 18px;
		}
	}

	&__testdrivebutton {
		display: inline-block;
		max-width: none;
		line-height: 26px;
		padding: 10px 50px;
		border-radius: 20px;
		color: $color-codgray;
		font-size: 20px;
		font-weight: 400;
		border: 1px solid rgba(138, 196, 232, 0.5);
		background-color: $color-hawkesblue;
		border-color: $color-hawkesblue rgba(255, 255, 255, 0) $color-oysterbay;
		background-image: linear-gradient(rgba(224, 249, 255, 0) 0%, $color-oysterbay 90%);

		&:hover {
			background-color: $color-white;
			border-color: rgba(138, 196, 232, 0.5);
			background-image: linear-gradient(rgba(224, 249, 255, 0) 0%, $color-white 90%);
		}

		@media (max-width: $max-720) {
			padding: 8px 40px;
			font-size: 18px;
		}
	}

	&__headlinewrapper {
		text-align: center;
		margin-bottom: 100px;

		p {
			margin-top: 10px;
			font-size: 28px;

			@media (max-width: $max-720) {
				font-size: 22px;
			}
		}

		@media (max-width: $max-720) {
			margin-bottom: 0;
			margin-top: 100px;
		}
	}

	&__title {
		font-family: $font-family-gilroy;
		font-size: 56px;
		line-height: 60px;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 0;

		@media (max-width: $max-720) {
			font-size: 32px;
			line-height: 42px;
		}
	}

	&__subhead {
		font-size: 46px;
		font-family: $font-family-freight;
		font-weight: 400;
		line-height: 56px;
		margin: 15px 0 10px 0;

		@media (max-width: $max-720) {
			font-size: 36px;
			line-height: 46px;
			margin: 10px 0 5px 0;
		}
	}

	&__subheadcontinue {
		font-size: 18px;
		font-family: $font-family-freight;
		font-weight: 100;
		color: $color-shuttlegray;
	}

	&__section2 {
		padding-top: 50px;
		width: 100%;

		@media (max-width: $max-720) {
			padding-bottom: 0px;
		}
	}

	&__section2div1 {
		width: 85%;
		margin: 0 auto;
		text-align: center;

		h2 {
			font-size: 36px;
			line-height: 46px;

			@media (max-width: $max-720) {
				margin-top: 0;
				font-size: 26px;
				line-height: 36px;
			}
		}

		p {
			width: 80%;
			margin: 10px auto;
			font-size: 18px;
			color: $color-shuttlegray;

			@media (max-width: $max-720) {
				width: 100%;
				margin: 0 auto;
			}
		}

		@media (max-width: $max-720) {
			width: 100%;
		}
	}

	&__sliderwrapper {
		width: 100%;

		@media (max-width: $max-720) {
			padding: 0 20px;
		}
	}

	&__slider {
		// Slider container
	}

	&__slide {
		// Individual slide
	}

	&__slidercontentwrapper {
		padding: 35px;
		width: 90%;
		height: 410px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		background-color: #f6f7fa;
		border-radius: 20px;

		@media (max-width: $max-720) {
			flex-direction: column;
			width: 100%;
			height: auto;
			border-radius: 0;
			padding: 20px;
		}
	}

	&__sliderimg,
	&__slidercontent {
		width: 50%;
		float: left;

		@media (max-width: $max-720) {
			width: 100%;
		}
	}

	&__sliderimg {
		text-align: center;
		padding-right: 30px;

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&__slidercontent {
		h3 {
			font-size: 28px;
			line-height: 38px;
			margin: 0;
			margin-bottom: 10px;
			color: $color-bahamablue;

			@media (max-width: $max-720) {
				font-size: 22px;
				line-height: 32px;
				margin-top: 15px;
			}
		}

		p {
			margin-top: 0;
			color: $color-codgray;
		}

		ul {
			padding-left: 15px;
		}

		li {
			font-size: 20px;
			margin-bottom: 10px;
			list-style-type: none;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 11px;
				left: -15px;
				width: 7px;
				height: 7px;
				background-color: $color-bahamablue;
				border-radius: 20px;
			}
		}
	}

	&__default {
		background-color: $color-hawkesblue !important;
		border-color: $color-hawkesblue rgba(255, 255, 255, 0) $color-oysterbay;
		background-image: linear-gradient(rgba(224, 249, 255, 0) 0%, $color-oysterbay 90%);
	}

	&__pager {
		padding: 100px 0px 40px 0;
		text-align: center;
		width: 80%;
		margin: 0 auto;

		a {
			display: inline-block;
			padding: 8px 50px;
			margin: 0 20px;
			max-width: none;
			line-height: 26px;
			border-radius: 20px;
			background-color: $color-white;
			color: $color-codgray;
			font-size: 18px;
			border: 1px solid rgba(138, 196, 232, 0.5);
			font-weight: 600;
			text-decoration: none;

			&:hover {
				background-color: $color-hawkesblue !important;
				border-color: $color-hawkesblue rgba(255, 255, 255, 0) $color-oysterbay !important;
				background-image: linear-gradient(rgba(224, 249, 255, 0) 0%, $color-oysterbay 90%) !important;
			}

			@media (max-width: $max-720) {
				padding: 5px 8px;
				font-size: 14px;
				margin: 5px 10px;
				margin-bottom: 10px;
			}
		}

		@media (max-width: $max-720) {
			width: 100%;
			padding: 50px 0 50px 0;
		}
	}

	&__benefits {
		width: 100%;
		padding: 0px 0px 50px 0px;
	}

	&__benefitswrapper {
		width: 95%;
		margin: 0 auto;

		h2 {
			font-size: 32px;
			text-align: center;
			margin-bottom: 50px;

			@media (max-width: $max-720) {
				font-size: 28px;
				margin-top: 30px;
			}
		}

		@media (max-width: $max-720) {
			width: 100%;
		}
	}

	&__pointerwrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;

		@media (max-width: $max-720) {
			flex-direction: column;
		}
	}

	&__pointers {
		width: 50%;
		min-height: 150px;
		float: left;
		padding-right: 50px;
		padding-left: 50px;
		position: relative;
		margin-bottom: 30px;

		b {
			font-size: 24px;
		}

		&:after {
			content: '';
			position: absolute;
			width: 25px;
			height: 25px;
			top: 7px;
			left: 5px;
		}

		@media (max-width: $max-720) {
			width: 100%;
			min-height: auto;
			margin-bottom: 15px;
		}
	}

	&__linepointers {
		width: 50%;
		float: left;
		padding-right: 50px;
		padding-left: 20px;
		position: relative;
		margin-bottom: 30px;
		border-left: 3px solid $color-cornflower;

		@media (max-width: $max-720) {
			width: 100%;
			min-height: auto;
			margin-bottom: 30px;
		}
	}

	&__container {
		padding: 0 90px;
		max-width: 90%;
		margin: 0 auto;

		@media (max-width: $max-1024) {
			max-width: 100%;
			padding: 0 50px;
		}

		@media (max-width: $max-960) {
			padding: 0 20px;
		}

		@media (max-width: $max-720) {
			padding: 0 20px;
		}
	}

	&__row {
		@include make-row;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-align: stretch;
		align-items: center;
		-ms-flex-pack: start;
		justify-content: space-between;
		margin-left: -15px;
		margin-right: -15px;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}
