@use 'sass:math';
@use '../variables' as *;
@use '../grid' as *;
@use '../mixins' as *;

.site-main--webinars {
	padding-top: 7rem;
}

.webinars-hero {
	@include container;
	padding: 3rem 0 2rem;
	text-align: center;

	&__title {
		@include heading($hasMargin: false, $min: 32, $max: 60);
		margin-bottom: 1rem;
		color: $color-black;
	}

	&__description {
		max-width: 720px;
		margin: 0 auto;
		font-size: 1.1rem;
		color: $color-slate;
	}
}

.webinars-featured {
	padding: clamp(2rem, 6vw, 4rem) 0;

	&__container {
		@include container;
	}

	&__title {
		@include heading($hasMargin: false, $min: 28, $max: 42);
		margin-bottom: 2rem;
		color: $color-black;
		text-align: center;
	}

	&__list {
		width: 100%;
		padding: 1.5rem 0;

		@media (min-width: $min-1200) {
			@include make-row;
		}
	}
}

.webinar-featured-card {
	width: 100%;
	margin-bottom: 30px;

	&__wrapper {
		box-shadow: 0px 0px 8px #e5e5e5;
		border-radius: 38px;
		padding: 30px 0px;
		background: $color-white;
	}

	&__row {
		@include make-row;
		flex-wrap: inherit;
		margin-left: 0px;
		margin-right: 0px;
		padding: 0px 30px;
		align-items: center;

		@media (max-width: $max-720) {
			display: block;
		}
	}

	&__clearfix {
		clear: both;
	}

	&__col1 {
		@include make-col(math.percentage(math.div(12, 12)));
		padding: 0;

		img {
			padding-right: 20px;
		}

		@media (min-width: $min-720) {
			width: math.percentage(math.div(5, 12));
			float: left;
		}

		@media (min-width: $min-1200) {
			width: math.percentage(math.div(5, 10));
		}
	}

	&__col3 {
		@include make-col(math.percentage(math.div(12, 12)));
		padding: 0;

		@media (min-width: $min-720) {
			width: math.percentage(math.div(5, 12));
			float: right;
		}

		@media (min-width: $min-1200) {
			width: math.percentage(math.div(5, 10));
		}
	}

	&__figure {
		position: relative;
		margin-bottom: 0;
		background: #eee;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__image {
		display: block;
		width: 100%;
		height: auto;
		max-width: 100%;
	}

	&__type {
		font-family: $font-family-heading;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 20px;
		display: inline-block;
		color: #00578f;
		position: relative;
		white-space: nowrap;
	}

	&__line {
		width: 100%;
		height: 1px;
		background-color: #000;
		margin: 10px 10px;

		@media (max-width: $max-720) {
			margin: 10px 0px;
		}
	}

	&__date {
		font-size: 14px;
		font-weight: 500;
		text-align: right;
		color: #000;

		@media (min-width: $min-720) {
			float: right;
			white-space: nowrap;
		}

		@media (max-width: $max-720) {
			text-align: left;
		}
	}

	&__content {
		width: 100%;
	}

	&__title {
		font-family: $font-family-heading;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 27px;
		color: #1a1a1a;
		margin: 0;

		a {
			color: #1a1a1a;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__text {
		margin-top: 0px;
		font-size: 16px;
		line-height: 20px;
		color: $color-black;
	}

	&__link {
		@include link;
		text-align: center;
		display: inline-block;
		background-color: #003f68;
		border-radius: 50px;
		color: #fff;
		padding: 5px 25px;
		text-decoration: none;
		margin-top: 1rem;

		&:hover {
			text-decoration: none !important;
			background-color: #00578f;
		}
	}
}

.webinars-on-demand {
	padding: clamp(2rem, 6vw, 4rem) 0;

	&__container {
		@include container;
	}

	&__title {
		@include heading($hasMargin: false, $min: 28, $max: 42);
		margin-bottom: 2rem;
		color: $color-black;
		text-align: center;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		gap: clamp(1.5rem, 4vw, 2.75rem);
		padding: 1.5rem 0 3.5rem;
	}

	&__pagination {
		padding-bottom: 4rem;
		text-align: center;

		ul {
			list-style: none;
			display: inline-flex;
			gap: 0.5rem;
			padding: 0;
			margin: 0;
		}
	}

	&__empty {
		text-align: center;
		padding: 3rem 0;
		color: $color-slate;
		font-size: 1.1rem;
	}
}
