@import '~styles/config';

.culture {
  
  &__topBanner {
    width: 100%;
    position: absolute;
    background-color: #bde1fb;
    z-index: 99;
    text-align: center;
    top: 0%;
    padding: 10px;
    box-shadow: 0 0 8px #e5e5e5;

    @media (max-width: $max-1024) {
      //position: relative;
      bottom: 0%;
      top: auto;
    }

    a {
      display: inline-block;
      max-width: none;
      margin: 0 1rem;
      padding: 0.25rem 1.125rem;
      border-radius: 20px;
      background-color: #fff;
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 600;
      border: 1px solid #bee9f3;
      border-color: rgba(138, 196, 232, 0.5);

      &:hover {
        background-color: #dee8fb;
        border-color: #dee8fb rgba(255, 255, 255, 0) #e0f9ff;
        background-image: linear-gradient(
          rgba(224, 249, 255, 0) 0%,
          #e0f9ff 90%
        );
      }
      @media (max-width: $max-720) {
        margin-top: 5px;
      }
    }
    span {
      display: inline-block;

      color: #1a1a1a;
      font-size: 14px;
      font-weight: 400;

      @media (max-width: $max-720) {
        display: block;
        font-size: 12px;
      }
    }
  }
}
