@import '../../../../assets/css/mixin';

.aera-careers-gallery {
  overflow: hidden;

  &__top,
  &__bottom {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    @include xs-size-max {
      flex-direction: column;
    }

    img {
      display: block !important;

      @include xs-size-max {
        margin-bottom: 30px !important;
        width: 100% !important;
        height: auto !important;
      }
    }
  }

  &__top {
    margin-bottom: 30px;

    @include xs-size-max {
      margin-bottom: 0;
    }

    .aera-careers-gallery__top-image {
      @include xs-size-min {
        &:first-of-type {
          width: 66.66667%;
          padding-right: 15px;
        }

        &:last-of-type {
          padding-left: 15px;
          width: 33.33333%;
          align-self: flex-end;
        }
      }
    }
  }

  &__bottom {
    .aera-careers-gallery__bottom-image {
      @include xs-size-min {
        &:first-of-type {
          width: 25%;
          margin-left: 8.33333%;
          padding-right: 15px;
        }

        &:last-of-type {
          padding-left: 15px;
          width: 66.66667%;
        }
      }

      @include xs-size-max {
        &:last-of-type {
          img {
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }
}
