@import '~styles/config';

.header {
	position: absolute;
	top: 0;
	left: 0;

	z-index: 99;

	width: 100%;
	transition: 0.3s linear;

	&__headerfixed {
		position: fixed;
		top: 0;
		left: 0;
		background-color: #fff;
	}

	&.isOpen {
		@media (max-width: $max-1024) {
			position: fixed;
		}
	}

	&__container {
		@media (min-width: $min-720) {
			@include container;
		}
	}

	&__content {
		position: relative;

		@media (min-width: $min-1024) {
			// padding: 55px 0 60px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__bar {
		display: flex;
		justify-content: space-between;

		position: relative;
		z-index: 2;

		padding: $container-gutter-mobile;

		@media (max-width: $min-720) {
			z-index: 999;
		}

		@media (min-width: $min-720) {
			//padding: $container-gutter-tablet 0;
		}

		@media (min-width: $min-1024) {
			// position: absolute;
			// top: 80px;
			// left: 0;

			// padding: 0;
		}
	}

	&__toggle {
		@include reset-button;

		position: relative;
		top: 0px;
		right: -13px;

		width: 40px;
		height: 40px;

		cursor: pointer;

		transition: opacity 0.2s ease-in-out;

		&:hover {
			opacity: 0.8;
		}

		@media (min-width: $min-1024) {
			display: none;
		}

		&Line {
			display: block;

			position: absolute;

			top: 19px;
			left: 13px;

			margin: 0 auto;

			height: 2px;
			width: 14px;

			background: $color-border;

			&:first-child {
				top: 14px;
			}

			&:last-child {
				top: 24px;
			}
		}
	}

	&__logo {
		@include reset-anchor;

		&Image {
			margin-top: 0px;
			width: 120px;

			@media (min-width: $min-768) {
				//margin-top: -11px;
				width: 121px;
			}
		}
	}

	&__overlay {
		display: none;

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.isOpen & {
			display: block;
		}
	}

	&__navigation {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 100%;
		max-width: 100%;
		// height: 100vh;
		pointer-events: none;

		transform: translate(100%, 0);
		@media (max-width: $min-720) {
			//overflow-y: scroll;
			background: #f6f9fa;
			z-index: 222;
			height: 100vh;
		}
		@media (max-width: 420px) {
			//max-width: 420px;
		}

		.isOpen & {
			opacity: 1;
			pointer-events: auto;
		}

		@media (min-width: $min-720) {
			right: -$container-gutter-tablet;
		}

		@media (min-width: $min-1024) {
			display: block;

			position: static;
			top: auto;
			left: auto;

			opacity: 1;

			height: auto;
			width: auto;

			max-width: none;

			pointer-events: auto;

			background: none;

			transform: none;
			transition: none;
		}

		&::before {
			@media (max-width: $max-1024) {
				content: '';
				display: block;
				height: 74px;
			}
		}
	}

	&__navBackground {
		position: absolute;
		top: 0;
		right: -50px;
		bottom: 0;
		z-index: 0;
		width: calc(100% + 50px);
		//background: #f7f9fa;
		background: linear-gradient(to left, $color-background-darker calc(100% - 99px), transparent calc(100% - 99px));
		@media (min-width: $min-1024) {
			display: none;
		}

		.svg {
			position: absolute;
			top: 0;
			right: calc(100% - 100px);
			width: 100px;
		}
	}

	&__navlist {
		z-index: 1;
	}

	&__social {
		padding: 20px 25px 30px;

		@media (min-width: $min-720) {
			padding: 20px 55px 30px;
		}

		@media (min-width: $min-1024) {
			display: none;
		}
	}

	&__demo {
		display: none;

		// position: absolute;
		// top: 65px;
		// right: 0;

		z-index: 1;

		@media (min-width: $min-1024) {
			display: block;
		}
		a {
			@include button;

			cursor: pointer;

			background: rgba($color-white, 0.5);

			transition: 180ms;
			transition-property: border-color, background-color, color, opacity;

			& + & {
				margin-top: $gutter / 2;

				@media (min-width: $min-mobile) {
					margin-top: 0;
					margin-left: $gutter / 2;
				}
			}

			&:hover,
			&:focus {
				outline: none;
				border-color: #e0f9ff rgba(255, 255, 255, 0) #dee8fb;
				background-color: #e0f9ff;
				background-image: linear-gradient(rgba(#dee8fb, 0) 0%, #dee8fb 90%);
			}
			@media (max-width: $min-1200) {
				padding: 0 1.5em;
			}
		}
	}

	&__fixedButton {
		position: fixed;
		right: -85px;
		bottom: 50%;
		a {
			display: inline-block;
			transform: rotate(90deg);
			background: #bbe1fabd;
			padding: 10px 20px;
			color: #1a1a1a;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			border-radius: 0px 0px 6px 6px;
			font-size: 16px;
			@media (max-width: $max-720) {
				transform: rotate(0deg);
				border-radius: 0px;
				width: 100%;
				text-align: center;
				background: #bbe1fa;
			}
		}
		@media (max-width: $max-720) {
			right: 0px;
			bottom: 0%;
			width: 100%;
		}
	}

	&__topBanner {
		width: 100%;
		position: absolute;
		background-color: #bde1fb;
		z-index: 99;
		text-align: center;
		top: 0%;
		padding: 10px;
		box-shadow: 0 0 8px #e5e5e5;

		@media (max-width: $max-1024) {
			position: relative;
			// bottom: 0%;
			// top: auto;
		}

		a {
			display: inline-block;
			max-width: none;
			margin: 0 1rem;
			padding: 0.25rem 1.125rem;
			border-radius: 20px;
			background-color: #fff;
			color: #1a1a1a;
			font-size: 14px;
			font-weight: 600;
			border: 1px solid #bee9f3;
			border-color: rgba(138, 196, 232, 0.5);

			&:hover {
				background-color: #dee8fb;
				border-color: #dee8fb rgba(255, 255, 255, 0) #e0f9ff;
				background-image: linear-gradient(rgba(224, 249, 255, 0) 0%, #e0f9ff 90%);
			}
			@media (max-width: $max-720) {
				margin-top: 5px;
			}
		}
		span {
			display: inline-block;

			color: #1a1a1a;
			font-size: 18px;
			font-weight: 400;

			@media (max-width: $max-720) {
				display: block;
				font-size: 16px;
			}
		}
	}

	a {
	}
}
