@import "~styles/config";

.articlenotFound {
  min-height: 100vh;

  &__container {
    @include container;
  }

  &__row {
    @include make-row;
  }

  &__col {
    display: flex;
    align-items: center;

    @include make-col(percentage(8/12));
    margin-left: percentage(2/12);

    min-height: 100vh;
  }

  &__content {
    text-align: center;
  }

  &__title {
    @include reset-all;
    @include responsive-font(24, 80);
    font-family: $font-family-heading;
    font-weight: 700;
    color: $color-codgray;
  }

  &__subline {
    @include reset-all;
    @include responsive-font(16, 28);
    font-weight: 200;
  }
}
