@import '../../../../assets/css/mixin';

.aera-cos-animation {
  margin: 0 auto;
  padding-top: 180px !important;
  max-width: 1120px;

  @include xs-size-min {
    padding: 0 30px;
  }

  @include xs-size-max {
    overflow: hidden;
    width: calc(100% + 40px);
    padding-top: 100px !important;
    margin-left: -20px;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 47%;
    max-height: 530px;
    transform: translateX(-2%);

    @include xs-size-max {
      transform: none;
    }

    &-bg {
      position: absolute;
      top: 18%;
      left: 0%;
      width: 100%;
      max-width: 100% !important;
      opacity: 0;

      &.bottom {
        top: 28%;
      }
    }

    &-first {
      position: absolute;
      top: -28.5%;
      left: 18.5%;
      width: 78%;
      max-width: 881px !important;
      opacity: 0;
    }

    &-second {
      position: absolute;
      top: 25%;
      left: 10%;
      width: 15.5%;
      max-width: 174px !important;
      opacity: 0;
    }

    &-third {
      position: absolute;
      top: 19%;
      right: 0%;
      width: 40%;
      max-width: 444px !important;
      opacity: 0;
    }

    &-fourth {
      position: absolute;
      top: 61.5%;
      left: 24%;
      width: 29%;
      max-width: 329px !important;
      opacity: 0;
    }

    &-fifth {
      position: absolute;
      top: 65%;
      right: 1%;
      width: 19%;
      max-width: 211px !important;
      opacity: 0;
    }
  }
}
