@import '~styles/config';

.news {
	//margin-top: $gutter * 1;
	//@include segment-bottom;
	padding-top: 0px;

	&__container {
		@include container;
	}

	&__title {
		display: none;
		@include heading;

		@media (min-width: $min-1200) {
			margin-left: percentage(1/12);
		}
	}

	// &__subheading{
	//   font-size: 48px;
	//   font-family: Gilroy;
	//   line-height: 48px;
	//   color: #000;
	//   margin-bottom: 0;
	// }

	&__para {
		font-size: 26px;
		line-height: 36px;
		font-family: FreightSans Pro;
		margin-top: 10px;
		line-height: 36px;
	}

	&__list {
		@media (min-width: $min-1200) {
			@include make-row;
		}
	}

	&__col {
		@media (min-width: $min-1200) {
			@include make-col(percentage(10.5/12));
			margin: 0 auto;
			padding: 50px 0px;
		}
	}

	&__more {
		display: flex;
		justify-content: center;
		padding: 70px 0px;
	}

	&Item {
		margin-bottom: $gutter * 2;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-content: center;
		flex-wrap: nowrap;
		&:nth-child(even) {
			flex-direction: row-reverse;
			@media (max-width: $max-720) {
				flex-direction: column-reverse;
			}
		}
		&__highlight {
			padding: 0;
			margin: 0;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
			vertical-align: baseline;
			border: 0;
			background: 0 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			font-size: 13px;
			display: -ms-inline-flexbox;
			display: inline-flex;
			-ms-flex-pack: center;
			justify-content: center;
			position: relative;
			padding: 0 2.85714em;
			height: 3.57143em;
			color: #1a1a1a;
			font-family: 'Gilroy', sans-serif;
			font-weight: 600;
			line-height: 3.57143;
			letter-spacing: 0.025em;
			text-transform: uppercase;
			text-decoration: none;
			white-space: nowrap;
			border-radius: 999px;
			border: 1px solid #bee9f3;
			cursor: pointer;
			background: rgba(255, 255, 255, 0.5);
			transition: 180ms;
			transition-property: border-color, background-color, color, opacity;
			&:hover {
				outline: none;
				border-color: #e0f9ff rgba(255, 255, 255, 0) #dee8fb;
				background-color: #e0f9ff;
				background-image: linear-gradient(rgba(222, 232, 251, 0) 0%, #dee8fb 90%);
			}
		}
		&:hover .highlighted {
			outline: none;
			border-color: #e0f9ff rgba(255, 255, 255, 0) #dee8fb;
			background-color: #e0f9ff;
			background-image: linear-gradient(rgba(222, 232, 251, 0) 0%, #dee8fb 90%);
		}
		// &:hover .button{
		//   outline: none;
		//   border-color: #e0f9ff rgba(255, 255, 255, 0) #dee8fb;
		//   background-color: #e0f9ff;
		//   background-image: linear-gradient(rgba(222, 232, 251, 0) 0%, #dee8fb 90%);
		// }

		@media (max-width: $min-720) {
			flex-direction: column-reverse;
			margin-bottom: 20px;
		}

		&__bgImage {
			width: 100%;
			display: block;
			height: 190px;
			// height: 100px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 5px 5px 0px 0px;
			@media (max-width: $max-960) {
				min-height: 70px;
				background-size: cover;
			}
			@media (max-width: $max-720) {
				min-height: 100px;
				background-size: contain;
			}
		}
		&__logoImage {
			min-height: 100px;
			padding: 25px 0px;
			display: block;
		}

		&__imageBorder {
			//border-bottom: 5px solid #003F68;
		}

		&__row {
			@include make-row;
			flex-wrap: inherit;
			margin-left: 0px;
			margin-right: 0px;
			padding: 15px 15px 0 15px;
			justify-content: space-between;
			align-items: center;
			@media (max-width: $max-960) {
				//display: block;
				flex-direction: column;
				align-items: baseline;
			}
		}

		&__clearfix {
			clear: both;
		}

		&__wrapper {
			// box-shadow: 0px 0px 8px #e5e5e5;
			// border-radius: 38px;
			// padding: 30px 0px;
			//margin-bottom: 20px;
			box-shadow: 1px 1px 10px #e5e5e5;
			border-radius: 5px;
			min-height: 450px;
			position: relative;
			width: 100%;
			@media (max-width: $min-720) {
				min-height: auto;
			}
			a[href='javascript:;'] {
				cursor: default;
			}
		}

		&__col1 {
			// logo
			@include make-col(percentage(7/12));
			padding: 0;

			img {
				padding-right: 20px;
			}

			@media (min-width: $min-720) {
				width: percentage(5/12);
				float: left;
			}

			@media (min-width: $min-1200) {
				width: percentage(5/10);
			}
		}

		&__col2 {
			// date
			@include make-col(percentage(5/12));

			@media (min-width: $min-720) {
				width: percentage(2/12);
				order: 3;
			}

			@media (min-width: $min-1200) {
				width: percentage(2/10);
			}

			@media (min-width: $min-1280) {
				width: percentage(1/10);
			}
		}

		&__col3 {
			// content
			@include make-col(percentage(12/12));
			padding: 0;

			@media (min-width: $min-720) {
				width: percentage(7/12);
				float: right;
				p {
					margin-top: 0px;
					font-size: 16px;
					line-height: 20px;
				}
			}

			@media (min-width: $min-1200) {
				width: percentage(5/10);
				p {
					margin-top: 0px;
					font-size: 16px;
					line-height: 20px;
				}
			}

			@media (min-width: $min-1280) {
				width: percentage(5/10);
				p {
					margin-top: 0px;
					font-size: 16px;
					line-height: 20px;
				}
			}
		}

		&__col12 {
			// content
			@include make-col(percentage(12/12));
			padding: 0;

			@media (min-width: $min-720) {
				width: percentage(12/12);
				float: right;
				p {
					margin-top: 0px;
					font-size: 16px;
					line-height: 20px;
				}
			}

			@media (min-width: $min-1200) {
				width: percentage(12/12);
				p {
					margin-top: 0px;
					font-size: 16px;
					line-height: 20px;
				}
			}

			@media (min-width: $min-1280) {
				width: percentage(12/12);
				p {
					margin-top: 0px;
					font-size: 16px;
					line-height: 20px;
				}
			}
		}

		&__logo {
			margin: 0px auto;
			max-width: 150px;

			@media (min-width: $min-720) {
				// margin-top: $gutter + 4px;
				margin: 0px auto;
			}
		}

		&__eventimage {
			max-width: 90%;

			// @media (min-width: $min-720) {
			//   margin-top: $gutter + 4px;
			// }
		}

		&__dateWrapper {
			display: flex;
		}

		&__date {
			font-size: 14px;
			font-weight: 700;
			font-family: Gilroy;
			text-align: right;
			color: $font-color-dark;
			position: relative;
			@media (max-width: $max-960) {
				//margin-bottom: 10px;
			}
			@media (min-width: $min-720) {
				white-space: nowrap;
				// margin-bottom: 10px;
			}
			@media (max-width: $min-720) {
				text-align: left;
			}
		}

		&__line {
			width: 100%;
			height: 1px;
			background-color: #000;
			margin: 9px 15px;
			@media (max-width: $min-960) {
				display: none;
			}
			@media (max-width: $min-720) {
				display: none;
			}
		}

		&__city {
			position: relative;
		}

		&__content {
			//min-height: 350px;
			@media (max-width: $min-720) {
				min-height: auto;
			}
		}

		&__lastRow {
			position: absolute;
			bottom: 15px;
			left: 0;
			width: 100%;
			div {
				justify-content: end;
			}
			@media (max-width: $min-720) {
				bottom: 0;
				position: relative;
				padding-bottom: 20px;
			}
		}

		&__title {
			@include subheading;
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 22px;
			line-height: 27px;
			color: #000;
			margin: 15px 0px;
			//min-height: 100px;
			@media (max-width: $min-960) {
				min-height: auto;
				margin-top: 0;
				font-size: 18px;
				line-height: 26px;
			}
			@media (max-width: $min-720) {
				min-height: auto;
				margin-top: 0;
			}
		}

		&__text {
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
			min-height: 120px;
			color: #000;
		}

		&__link {
			@include link;
			text-align: right;
			display: block;
			//background-color: #003F68;
			border-radius: 50px;
			color: #000;
			//padding: 5px 0px;
			white-space: nowrap;
			img {
				display: inline-block;
				vertical-align: text-bottom;
				margin-left: 5px;
				width: 14px;
			}
			&:hover {
				text-decoration: none !important;
			}
			@media (max-width: $min-960) {
				margin-top: 10px;
			}
		}

		&__nonlink {
			@include link;
			text-align: right;
			display: block;
			//background-color: #003F68;
			//border-radius: 50px;
			color: #003f68;
			cursor: default;
			font-weight: bold;
			//padding: 5px 25px;
			white-space: nowrap;
			&:hover {
				text-decoration: none !important;
			}
			@media (max-width: $min-960) {
				margin-top: 10px;
			}
		}

		&__type {
			font-family: Gilroy;
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			display: inline-block;
			color: #000;
			position: relative;
			white-space: nowrap;
			text-transform: uppercase;
		}
	}

	&__filterWrapper {
		width: 60%;
		margin: 0 auto;
		text-align: center;
		font-size: 16px;
		line-height: 24px;
		padding: 250px 0px 15px 0px;
		border-bottom: 1px solid #000;
		font-family: FreightSans Pro;
		font-style: normal;
		font-weight: 400;
		margin-bottom: 35px;

		a {
			display: inline-block;
			margin: 0 15px 15px 15px;
			border-bottom: 1px solid transparent;

			&:hover {
				border-bottom: 1px solid #00578f !important;
			}

			&.active {
				border-bottom: 1px solid #00578f;
			}
			@media (max-width: $min-960) {
				margin: 0 10px 15px 10px;
			}
			@media (max-width: $min-720) {
				margin: 0 15px 15px 15px;
			}
		}
		@media (max-width: $min-720) {
			width: 90%;
			padding-top: 200px;
		}
	}
	&__filterTopic {
		padding-bottom: 40px;
	}

	&__heading {
		text-align: center;
	}

	&__featuredEventsWrapper {
		margin-bottom: 20px;
		width: 100%;
	}
	&__featuredEventsRow {
		//display: flex;
	}
	&__featuredEventsImage {
		width: 60%;
		padding-right: 50px;
		img {
			border-radius: 15px;
			width: 100%;
		}
		@media (max-width: $min-960) {
		}
		@media (max-width: $min-720) {
			width: 100%;
			padding-right: 0;
		}
	}
	&__type {
		//styleName: Desktop/H5;
		font-family: Gilroy;
		font-size: 16px;
		font-weight: 700;
		line-height: 19.34px;
		text-align: left;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
		color: #00619e;
	}
	&__heading {
		//styleName: Desktop/H2;
		font-family: Gilroy;
		font-size: 34px;
		font-weight: 700;
		line-height: 41.11px;
		text-align: left;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
		margin: 15px 0;
		@media (max-width: $min-720) {
			font-size: 28px;
			line-height: 38px;
		}
	}
	&__subheading {
		//styleName: Desktop/Paragraph;
		font-family: FreightSans Pro;
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
		text-align: left;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;

		color: #5c6475;
		margin: 0;
		margin-bottom: 20px;
		p {
			margin: 0;
			//margin-bottom: 10px;
		}
		@media (max-width: $min-1024) {
			margin-bottom: 20px;
		}
		@media (max-width: $min-720) {
			margin-bottom: 20px;
		}
	}
	&__featuredEventsDetails {
		padding: 20px 40px 20px 0px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: start;
		width: 40%;

		@media (max-width: $min-720) {
			width: 100%;
			padding: 20px 0px 20px 0px;
		}
	}

	&__button {
		// text-decoration: none;
		// text-transform: uppercase;
		// font-family: Gilroy, sans-serif;
		// font-size: 14px;
		// font-weight: 600;
		// display: inline-block;
		// border-radius: 50px;
		// color: #000;
		// padding: 10px 30px;
		// border: 1px solid #bee9f3;
		padding: 0;
		margin: 0;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
		vertical-align: baseline;
		border: 0;
		background: 0 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-size: 13px;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-ms-flex-pack: center;
		justify-content: center;
		position: relative;
		padding: 0 2.85714em;
		height: 3.57143em;
		color: #1a1a1a;
		font-family: 'Gilroy', sans-serif;
		font-weight: 600;
		line-height: 3.57143;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
		border-radius: 999px;
		border: 1px solid #bee9f3;
		cursor: pointer;
		background: rgba(255, 255, 255, 0.5);
		transition: 180ms;
		transition-property: border-color, background-color, color, opacity;
		&:hover {
			outline: none;
			border-color: #e0f9ff rgba(255, 255, 255, 0) #dee8fb;
			background-color: #e0f9ff;
			background-image: linear-gradient(rgba(222, 232, 251, 0) 0%, #dee8fb 90%);
		}
	}
}
