@import '../../../../assets/css/mixin';

.aera-button {
  display: inline-flex;

  &.center {
    display: flex;
    justify-content: center;
  }

  &.right {
    display: flex;
    justify-content: flex-end;
  }

  @include xs-size-max {
    &.m-left {
      display: flex;
      justify-content: flex-start !important;
    }

    &.m-center {
      display: flex;
      justify-content: center !important;
    }

    &.m-right {
      display: flex;
      justify-content: flex-end !important;
    }
  }
}
