@import '~styles/config';

.management {

  &__container {
    @include container;
  }

  &__row {
    @media (min-width: $min-720) {
      @include make-row($grid-gutter: 55px);
    }

    @media (min-width: $min-960) {
      @include make-row($grid-gutter: 110px);
    }
  }

  &__col {
    @media (min-width: $min-720) {
      @include make-col(percentage(6/12), $grid-gutter: 55px);

      position: relative;

      &:nth-child(2) {
        margin-top: 8%;
      }

      &:nth-child(odd) {
        margin-top: -8%;
      }

      &:first-child {
        margin-top: 0;
        margin-bottom: 8%;
      }
    }

    @media (min-width: $min-960) {
      @include make-col(percentage(6/12), $grid-gutter: 110px);
    }
  }

  &__title {
    @include heading;
  }

  &Item {
    margin-bottom: $gutter * 3;

    &__image {
      margin-bottom: $gutter;
    }

    &__name {
      @include subheading;

      margin-bottom: 0;
    }

    &__job {
      margin-top: 0;

      color: $font-color-accent;
    }

    &__linkedin {
      @include link;
    }
  }
}
