@import '~styles/config';

.events {
	margin-top: $gutter * 4;
	//@include segment-bottom;

	&__container {
		@include container;
	}

	&__title {
		@include heading;
	}

	&__more {
		display: flex;
		justify-content: center;
	}

	&__featured {
		@media (min-width: $min-720) {
			@include make-row($grid-gutter: 38px);
		}
		@media (min-width: $min-960) {
			@include make-row($grid-gutter: 76px);
		}

		&Col {
			@media (min-width: $min-720) {
				@include make-col(percentage(6/12), $grid-gutter: 38px);
			}

			@media (min-width: $min-960) {
				@include make-col(percentage(6/12), $grid-gutter: 76px);
			}

			@media (min-width: $min-1024) {
				width: percentage(4/12);
			}
		}
	}

	&Item {
		margin-bottom: $gutter * 2;

		@media (min-width: $min-720) {
			margin-bottom: $gutter * 3;
		}

		&__header {
			display: flex;
			flex-direction: row;

			margin-bottom: $gutter / 2;
		}

		&__city {
			font-size: 14px;
			font-weight: 600;
			color: #000 @media (min-width: $min-1200) {
				white-space: nowrap;
			}
		}

		&__date {
			font-size: 14px;
			font-weight: 500;
			color: #000 @media (min-width: $min-1200) {
				white-space: nowrap;
			}
		}

		&__startDate,
		&__endDate {
			&::before {
				// content: "–";

				padding: 0 4px;
			}
		}

		&__title {
			@include subheading;
			margin: 10px 0 10px;

			@media (min-width: $min-tablet) {
				margin: 15px 0 15px;
			}
		}

		&__description {
			@include reset-paragraph;
		}

		&__link {
			@include link;
		}

		&__image {
			border: 1px solid #eee;
		}

		&__imageWrap {
			position: relative;

			&.isVideo {
				cursor: pointer;

				// &::after {
				//   $size: 50px;

				//   content: "";
				//   display: block;

				//   position: absolute;
				//   top: 50%;
				//   left: 50%;

				//   margin-top: -$size / 2;
				//   margin-left: -$size / 2;

				//   width: $size;
				//   height: $size;

				//   border-radius: 50%;
				//   background: #fff;
				//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

				//   transition: box-shadow 400ms;
				// }

				// &:hover::after {
				//   box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
				// }

				// &::before {
				//   $size: 50px;

				//   content: "";
				//   display: block;

				//   position: absolute;
				//   top: 50%;
				//   left: 50%;
				//   z-index: 1;

				//   // margin-top: -$size / 2;
				//   // margin-left: -$size / 2;

				//   width: 0;
				//   height: 0;

				//   border: 10px solid transparent;
				//   border-width: 8px 12px;
				//   border-left-color: $color-deepcerulean;
				//   border-radius: 2px;

				//   transform: translate(-3px, -50%);
				// }
			}
		}
	}
}
