@import '~styles/config';

.loading {
  @include segment;

  &__container {
    @include container;
  }

  &__row {
    @media (min-width: $min-720) {
      @include make-row;
    }
  }

  &__col {
    @media (min-width: $min-720) {
      @include make-col(percentage(8/12));
      margin-left: percentage(2/12);
    }

    @media (min-width: $min-1080) {
      margin-left: percentage(3/12);
      width: percentage(6/12);
    }
  }

  &__date {
    font-size: 14px;
    font-weight: 500;
    color: $font-color-dark;
  }

  &__title {
    @include heading(false, 30, 70);
  }

  &__lead {
    @include responsive-font(20, 24);
    margin-bottom: $gutter * 2;
  }

  &__image {
    margin-top: $gutter * 2;
    margin-bottom: $gutter * 2;

    @media (min-width: $min-tablet) {
      margin-left: calc(-25% - 8px);
      margin-right: calc(-25% - 8px);
    }

    @media (min-width: $min-desktop) {
      margin-left: calc(-50% - #{$gutter/2});
      margin-right: calc(-50% - #{$gutter/2});
    }
  }
}
